{% extends "fibeWWWConfBundle::base.html.twig" %}

{% block title %}New sponsor{% endblock title %}

{% block centerPanel %}
  {{ parent() }}
  <div class="row page-top-header ">
    <div class="page-title col-xs-5  col-sm-4 col-md-3 col-lg-2">
      <span>New sponsor</span>
      {#<a class="btn btn-info" href="{{ path('documentation', { 'anchor': 'Topic' }) }}" title="Help">#}
      {#<i class="fa fa-question"></i> #}
      {#</a>#}
    </div>

    <div class="col-xs-2 col-sm-4 col-md-6 col-lg-8">
    </div>
    {#<div class="page-btn-list col-xs-5  col-sm-4 col-md-3 col-lg-2">#}
    {#<a type="button" href="{{ path('schedule_person_index') }}" class="btn btn-warning" title="Go back to the list">#}
    {#<i class="fa fa-list"></i>#}
    {#</a>#}
    {#</div>#}
  </div>
  <div class="row page-content">
    <div class="col-lg-12">
      <form action="{{ path('schedule_sponsor_create') }}" method="post" {{ form_enctype(form) }}>
        {{ form_widget(form) }}

        <br/>
        <button type="submit" class="btn btn-block btn-success">
          <i class="fa fa-check"></i>
        </button>
      </form>
    </div>
  </div>


{% endblock %}

