{% extends 'fibeExternalizationBundle::base.html.twig' %}

{% block title %}Exporter {% endblock title %}

{% block centerPanel %}
    {{ parent() }}
	<h1> Exporter </h1>

	<form action="{{ path('externalization_export_process') }}" method="post" {{ form_enctype(export_form) }}>
	  {{ form_widget(export_form) }}
      {{ form_errors(export_form) }}
      <button type="submit" class="btn btn-block btn-success">
                <i class="fa fa-check"></i>
      </button>
   </form>

 {% endblock %}