{% extends 'fibeWWWConfBundle::base.html.twig' %}

{% block title %}Organization edit{% endblock title %}

{% block centerPanel %}
  {{ parent() }}
  <div class="row page-top-header ">
    <div class="page-title col-xs-5  col-sm-4 col-md-3 col-lg-2">
      <span>Edit organization</span>
      <a class="btn btn-info" href="{{ path('documentation', { 'anchor': 'Organization' }) }}" title="Help">
        <i class="fa fa-question"></i>
      </a>
    </div>

    <div class=" col-xs-2 col-sm-4 col-md-6 col-lg-8">
    </div>
    <div class="page-btn-list  col-xs-5  col-sm-4 col-md-3 col-lg-2">
      <a type="button" href="{{ path('schedule_organization_index') }}" class="btn btn-warning"
         title="Go back to the list">
        <i class="fa fa-list"></i>
      </a>
      {% if is_granted('DELETE', entity) %}
        <form action="{{ path('schedule_organization_delete', { 'id': entity.id }) }}" method="post">
          <input type="hidden" name="_method" value="DELETE"/>
          {{ form_widget(delete_form) }}
          <button type="submit" class="btn btn-danger" title="Remove publication">
            <i class="fa fa-trash-o"></i>
          </button>
        </form>
      {% endif %}
    </div>
  </div>
  <div class="row page-content">

    <form action="{{ path('schedule_organization_update', { 'id': entity.id }) }}"
          method="post" {{ form_enctype(edit_form) }}>
      <input type="hidden" name="_method" value="PUT"/>

      <div class="row">

        <div class="col-lg-12">
          {{ form_widget(edit_form) }}
          {{ form_errors(edit_form) }}
          <br/>
          <button type="submit" class="btn btn-block btn-success">
            <i class="fa fa-check"></i>
          </button>
        </div>
      </div>
    </form>
  </div>
{% endblock %}
