<div id="resultsFound"><h4>
    {% if nbResult is defined %}
      {{ nbResult }}
    {% else %}
      0
    {% endif %}
    results found
  </h4></div>
<table class=" table table-hover">
  <thead>
  <tr>
    <th>Id</th>
    <th>Name</th>
    <th>Homepage</th>
    <th>Country</th>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>
  {% for entity in pager.currentPageResults %}
    <tr>
      <td><a href="{{ path('schedule_organization_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
      <td>{{ entity.name }}</td>
      <td><a href="{{ entity.page }}" target="_blank">{{ entity.page }}</a></td>
      <td>{{ entity.country }}</td>
      <td>
        {% if is_granted('VIEW', entity) %}
          <a class="btn btn-large btn-default" href="{{ path('schedule_organization_show', { 'id': entity.id }) }}"><i
                class="fa fa-eye"></i></a>
        {% endif %}
        {% if is_granted('EDIT', entity) %}
          <a class="btn btn-large btn-warning edit"
             href="{{ path('schedule_organization_edit', { 'id': entity.id }) }}"><i class="fa fa-pencil"></i></a>
        {% endif %}
      </td>
    </tr>
  {% endfor %}
  </tbody>
</table>
<p>
  {{ pagerfanta(pager, 'twitter_bootstrap3') }}
</p>