{% extends 'fibeWWWConfBundle::base.html.twig' %}

{% block title %}Event list{% endblock title %}

{% block stylesheets_page %}
{% endblock stylesheets_page %}

{% block centerPanel %}
  {{ parent() }}

  <div class="row page-top-header ">
    <div class="page-title  col-xs-5  col-sm-4 col-md-3 col-lg-2">
      <span>Event List</span>
      <a class="btn btn-info" href="{{ path('documentation', { 'anchor': 'Event' }) }}" target="_blank" title="Help">
        <i class="fa fa-question"></i>
      </a>
    </div>

    <div class=" col-xs-2 col-sm-4 col-md-6 col-lg-8">
    </div>
    {% if is_granted('CREATE', app.user.getCurrentConf()) %}
      <div class="page-btn-list  col-xs-5  col-sm-4 col-md-3 col-lg-2">
        <a class="btn btn-info btn-create create" href="{{ path('schedule_confevent_new') }}" title="Add an event">
          <i class="fa fa-plus"></i> New event
        </a>
      </div>
    {% endif %}
  </div>
  <div class="row page-content">
    {% include "fibeWWWConfBundle:Filters:filters.html.twig" %}
    <div id="confevent_list" class="table-responsive">
      {% include "fibeWWWConfBundle:ConfEvent:list.html.twig" %}
    </div>
    <p>
      {{ pagerfanta(pager, 'twitter_bootstrap3') }}
    </p>

  </div>
{% endblock %}
{% block javascripts_page %}
  <script type="text/javascript">
    $(document).ready(function ()
    {
      $("#resultsFound").hide();
    });

    function filter()
    {
      $datas = $("#filter_form").serialize();

      //start send the post request
      $.post("{{path('schedule_confevent_filter')}}",
          $datas,
          function (response)
          {
            $('#confevent_list').html(response);
            $("#resultsFound").show();

          }, "html");
      return false;
    }
    ;
  </script>

{% endblock javascripts_page %}