{% extends 'fibeWWWConfBundle::base.html.twig' %}

{% block title %}New conference{% endblock title %}

{% block stylesheets_page %}
{% endblock stylesheets_page %}

{% block centerPanel %}
  {{ parent() }}

    <h1>Event creation</h1>

    <div class="row">
     <div class="col-lg-9"></div>
          <div class="col-lg-2 btn-group">
              <a type="button" href="{{ path('schedule_event') }}" class="btn btn-warning">
                    <i class="fa fa-list"></i>
              </a>
              
          </div>    
    </div>     

    <form action="{{ path('schedule_confevent_create') }}" method="post" {{ form_enctype(form) }}>

     <div class="row-fluid">
        <div class="col-lg-2"></div>
        <div class="col-lg-4">
                {{ form_row(form.summary) }}
                {{ form_row(form.categories) }}
                {{ form_row(form.startAt) }}
                {{ form_row(form.endAt) }}
                {{ form_row(form.description) }} 
                {{ form_row(form.url) }} 
        </div>
        <div class="col-lg-4">
                {{ form_row(form.comment) }}
                {{ form_row(form.organizer) }}
                {{ form_row(form.contacts) }}
                {{ form_row(form.location) }}
                {{ form_row(form.parent) }} 
                {# {{ form_row(form.parent) }} #}
                {#<!-- {{ form_row(form.priority) }} -->              
                  <!-- {{ form_row(form.resources) }} -->
                  <!--  {{ form_row(form.isTransparent) }} -->
                  <!-- {{ form_row(form.wwwConf) }} --> #}
           <br />
        </div>
        <div style="visibility:hidden;display:none;height:0px;" id="hiddenInputs">     
                {{ form_rest(form)}}
            </div>                       
        </div>
        <br />
         <div class="row"> 
            <div class="col-lg-4"></div>
            <div class="col-lg-4">  
                 <button type="submit" class="btn btn-block btn-success">
                          <i class="fa fa-check"></i>
                </button>
            </div>
        </div>
    </form>
{% endblock %}
