{% extends 'fibeWWWConfBundle::base.html.twig' %}

{% block body %}
{{ parent() }}
    <h1>ConfEvent creation</h1>

    <form action="{{ path('schedule_confevent_create') }}" method="post" {{ form_enctype(form) }}>
        {{ form_row(form.summary) }}
        {{ form_row(form.categories) }}
        {{ form_row(form.startAt) }}
        {{ form_row(form.url) }}
        {{ form_row(form.parent) }}
        {{ form_row(form.description) }}
        {{ form_row(form.comment) }}
        {{ form_row(form.organizer) }}
        {{ form_row(form.contacts) }}
        {{ form_row(form.location) }}
        {{ form_row(form.priority) }}
        {{ form_row(form.resources) }}
        {{ form_row(form.endAt) }}
        {{ form_row(form.isTransparent) }}
        {{ form_row(form.wwwConf) }}
        <p>
            <button type="submit">Create</button>
        </p>
        
            <div style="visibility:hidden;display:none;height:0px;" id="hiddenInputs">     
                {{ form_rest(form  )}}
            </div> 
    </form>

        <ul class="record_actions">
    <li>
        <a href="{{ path('confevent') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
