{% extends 'fibeWWWConfBundle::base.html.twig' %}

{% block body %}
{{ parent() }}

    <h1>ConfEvent</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Createdat</th>
                <td>{{ entity.createdAt|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Startat</th>
                <td>{{ entity.startAt|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Lastmodifiedat</th>
                <td>{{ entity.lastModifiedAt|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Summary</th>
                <td>{{ entity.summary }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ entity.description }}</td>
            </tr>
            <tr>
                <th>Comment</th>
                <td>{{ entity.comment }}</td>
            </tr>
            <tr>
                <th>Url</th>
                <td>{{ entity.url }}</td>
            </tr>
            <tr>
                <th>Organizer</th>
                <td>{{ entity.organizer }}</td>
            </tr>
            <tr>
                <th>Revisionsequence</th>
                <td>{{ entity.revisionSequence }}</td>
            </tr>
            <tr>
                <th>Contacts</th>
                <td>{{ entity.contacts }}</td>
            </tr>
            <tr>
                <th>Excludeddates</th>
                <td>{{ entity.excludedDates }}</td>
            </tr>
            <tr>
                <th>Includeddates</th>
                <td>{{ entity.includedDates }}</td>
            </tr>
            <tr>
                <th>Classification</th>
                <td>{{ entity.classification }}</td>
            </tr>
            <tr>
                <th>Priority</th>
                <td>{{ entity.priority }}</td>
            </tr>
            <tr>
                <th>Resources</th>
                <td>{{ entity.resources }}</td>
            </tr>
            <tr>
                <th>Duration</th>
                <td>{{ entity.duration }}</td>
            </tr>
            <tr>
                <th>Istransparent</th>
                <td>{{ entity.isTransparent }}</td>
            </tr>
            <tr>
                <th>Endat</th>
                <td>{{ entity.endAt|date('Y-m-d H:i:s') }}</td>
            </tr>
        </tbody>
    </table>

<h2>Event Relation</h2>

<h3>Themes</h3></br>
{% include "fibeWWWConfBundle:ConfEvent:themeRelation.html.twig" %}

<h3>Paper</h3></br>
{% include "fibeWWWConfBundle:ConfEvent:paperRelation.html.twig" %}

<h3>Person</h3></br>
{% include "fibeWWWConfBundle:ConfEvent:personRelation.html.twig" %}
        <ul class="record_actions">
    <li>
        <a href="{{ path('schedule_event') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('schedule_confevent_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>
        <form action="{{ path('schedule_confevent_delete', { 'id': entity.id }) }}" method="post">
            <input type="hidden" name="_method" value="DELETE" />
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    </li>
</ul>
{% endblock %}
