<div class="navbar navbar-static-top navbar-inverse" role="navigation">

  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
     <a class="navbar-brand" href="{{ path('dashboard_index') }}" title="Go back to Index"> <img src="{{ asset('img/livecon.png') }}" /></a>
  </div> 

   <div class="navbar-collapse collapse navbar-ex1-collapse">
      {% if app.user.getCurrentConf() %}
      <ul class="nav navbar-nav navbar-right">
        <!-- Conference dropdown -->
       <li class="dropdown" >
          <a href ="{{ path('schedule_conference_edit') }}" title="manage schedule"class="dropdown-toggle" data-toggle="dropdown">
             {{ app.user.getCurrentConf().getConfName() }}
            <b class="caret"></b>
          </a>
            <ul class="dropdown-menu">
             {% if app.user.getFlagByConferenceId(app.user.getCurrentConf().getId(),'datas')== 1 %}
              <li>   
                <a href="{{ path('schedule_conference_edit') }}"><i class="icon-cog"></i> Conference settings </a>
              </li>
             {% endif %}
            </ul>
        
        </li> 
    </ul> 
     {% endif %}
   </div>

</div>
