{% extends 'fibeWWWConfBundle::base.html.twig' %}

{% block title %}Index{% endblock title %}
{% block body %}
{{ parent() }}
 

{% trans_default_domain 'FOSUserBundle' %}
<div class="container">
  <header class="subhead" id="overview">
    <div class="page-header">
      <h1>Manage user</h1>
    </div>
  </header>
  <table class="records_list table table-striped table-hover">
    <thead>
    <tr>
      <th>User</th>
      <th>Email</th>
      <th>Last login</th>
      <th>Role</th>
    </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
      <tr>
        <td>
          <div class="btn-group">
            <button class="btn dropdown-toggle" data-toggle="dropdown">
              <b>{{ entity.username }}</b>
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
              <li>
                <a href="{{ path('schedule_user_toggle_role', { 'id': entity.id }) }}">
                  {% if  'ROLE_ADMIN' in entity.roles %}
                    demote to manager
                  {% else %}
                    promote to admin
                  {% endif %}
                </a>
              </li>
              <li>
                <a href="#" onclick="document.getElementById('delete-form{{ loop.index0 }}').submit()"><i
                      class=" icon-trash"></i> delete user</a>

              </li>

            </ul>
          </div>
          <form style="height:0px;" id="delete-form{{ loop.index0 }}"
                action="{{ path('user_delete', { 'id': entity.id }) }}" method="post">
            <input type="hidden" name="_method" value="DELETE"/>
            {{ form_widget(delete_forms[loop.index0]) }}
          </form>
        </td>
        <td><a href="mailto:{{ entity.email }}">{{ entity.email }}</a></td>
        <td class="moment">{% if entity.lastLogin %}{{ entity.lastLogin|date('Y-m-d H:i:s') }}{% endif %}</td>
        <td>
          <div class="btn-group">
            <button class="btn dropdown-toggle" data-toggle="dropdown">
              {% if  'ROLE_ADMIN' in entity.roles %}
                Admin
              {% else %}
                Manager
              {% endif %}
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
              <li>
                <a href="{{ path('schedule_user_toggle_role', { 'id': entity.id }) }}">
                  {% if  'ROLE_ADMIN' in entity.roles %}
                    demote to manager
                  {% else %}
                    promote to admin
                  {% endif %}
                </a>

              </li>
            </ul>
          </div>
          <form style="height:0px;" id="toggle-role-form{{ loop.index0 }}"
                action="{{ path('user_delete', { 'id': entity.id }) }}" method="post">
            <input type="hidden" name="_method" value="DELETE"/>
            {{ form_widget(delete_forms[loop.index0]) }}
          </form>

        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
  <a class="btn btn-success" href="{{ path('fos_user_registration_register') }}">
    <i class="icon-plus icon-white"> </i> Create a new user
  </a>

  <div>
    {% endblock body %}

    {% block javascripts %}
      {{ parent() }}
      <script type="text/javascript">
        $(document).ready(function ()
        {
          $('.moment').each(function ()
          {
            var momentString = moment($(this).html());
            !momentString || $(this).html(momentString.format("dddd, MMMM Do YYYY, h:mm:ss a"));
          })
        });
      </script>

    {% endblock %}

 