<!doctype html>
<html>
    <head>
    <title>{{ conference.mainConfEvent.summary |json_encode|raw  }}</title>
    <link rel="shortcut icon" type="image/x-icon" href="http://liris.cnrs.fr/dataconf/images/Logo_DataConf_ico.png">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ asset('bundles/fibemobileapp/mobileApp/css/jquery.mobile-1.4.0-rc.1.min.css') }}" />
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <script  src="{{ asset('bundles/fibemobileapp/mobileApp/js/lib/require.js') }}"></script>
    <script>

      //Require.js configurations
      require.config({
          baseUrl: "{{ asset('bundles/fibemobileapp/mobileApp/js') }}",
        shim: {
          backbone: {
            deps: [
              'underscore', 
              'jquery'
            ],
            exports: 'Backbone'
          },
          jqueryMobile: {
                  deps: [
                      'jquery',
                      'jqueryMobile.config'
                  ]
          },
          'jStorage' : {
            deps: [
                  'jquery'
              ]
          },
          'jqueryMobile.config': {
            deps: [
                  'jquery',
              ]
          },
          'twttr' :{
            exports : 'widget',
            init: function () {
             
                return this.twttr;
            }
           },
          'underscore': {
            exports: '_'
          }
        },
          paths: {
              jquery: 'lib/jquery',
              backbone: 'lib/backbone',
              underscore : 'lib/underscore-min',
              twttr :'lib/widget',
              'socialite': 'lib/socialite.min',
              'jqueryMobile.config' : 'lib/jquerymobile.config',
              'jsw' : 'reasoner/jsw',
              'jswui' : 'reasoner/jswui',
              'query' : 'reasoner/query',
              'encoder': 'lib/encoder',
              'blob': 'lib/blob',
              'fileSaver' : 'lib/FileSaver',
              'labels' : 'i18n/labels',
              'jqueryMobile' : 'lib/jquery.mobile-1.4.0-rc.1.min',
              'jStorage' : 'lib/jstorage.min',
              'moment' : 'lib/moment.min',
              'tpl' : 'lib/templateLoader',
              'ajaxLoader' : 'ajaxLoader/AjaxLoader'
          } 

      });
      
      //Configurations
      require(['config', 'tpl', 'model/swcEventCommandStore', 'model/liveconSparqlCommandStore','moment'], function(configuration, tpl, liveconApiCommandStore, liveconSparqlCommandStore, moment){

        if("{{ api_type}}" == "sparql"){
             configuration.datasources.eventDatasource.commands = liveconSparqlCommandStore;
        }else{
             configuration.datasources.eventDatasource.commands = liveconApiCommandStore;
        }

        //Modules configuration
        var modules = []
        {% if paper_module == true %}
          modules.push("publications");
        {% endif %}
        {% if organization_module == true %}
          modules.push("organizations");
        {% endif %}
       
        //Chosen datasource configuration
         {% if mobile_app_config.dblpDatasource == false %}
            configuration.datasources.DblpDatasource.activated = false;
         {% endif %}
         {% if mobile_app_config.googleDatasource == false %}
            configuration.datasources.GoogleDataSource.activated = false;
         {% endif %}
         {% if mobile_app_config.duckduckgoDatasource == false %}
            configuration.datasources.DuckDuckGoDatasource.activated = false;
         {% endif %}

        tpl.modules = modules;

 
        configuration.datasources.eventDatasource.uri = "{{ api_uri }}";
        configuration.app.liveconLogo = "{{ asset('img/liveconApp.png') }}";
        configuration.conference.baseUri = "{{ conference_baseUri }}";
        // configuration.conference.baseUri = "http://data.live-con.com/resource/conference/1/1iswc3013";
        configuration.conference.name = {{ conference.mainConfEvent.summary |json_encode|raw }};
        configuration.conference.acronym = {{ conference.mainConfEvent.acronym |json_encode|raw }};
        configuration.conference.id = {{ conference.id |json_encode|raw }};
        configuration.conference.eventId = {{ conference.mainConfEvent.id |json_encode|raw }};
        configuration.conference.logoUri = "{{ asset('uploads/')}}{{conference.logoPath}}";
        configuration.routes.Home.title = {{ conference.mainConfEvent.acronym |json_encode|raw }};
        tpl.uri = "{{ asset('bundles/fibemobileapp/mobileApp/templates/') }}";
        
        //Language configuration
        moment.lang({{ mobile_app_config.lang |json_encode|raw }});
        configuration.conference.lang = {{ mobile_app_config.lang |json_encode|raw }} || 'EN';



      });
      
      //Entry point
      require(['app']);

    </script>
    <style type="text/css">

        /********************  global **********************/
        
        body *{
           text-shadow : none !important;
        }
        H1 , H2 {
          font-size : 14pt !important;
        }

        H3, H4{
          font-size : 13pt !important;
        }

        H4,H5{
          margin-top:2pt;
          margin-bottom:2pt;
        }

        .inline{
          font-size : 12pt !important;
          color: black;
        }

        a, span {
          font-size : 10pt !important;

        }

        p{
          font-size : 12pt !important;
          color: black;
        }


        /**********************   Header ************************/
        #header {
          background: {{ mobile_app_config.BGColorHeader}} !important;
          color: {{ mobile_app_config.TitleColorHeader}} !important;

        }

        #header * {
          background: {{ mobile_app_config.BGColorHeader}} !important;
          color: {{ mobile_app_config.TitleColorHeader}} !important;
        }


        .logoContainer {
            height: 60px;
         }

        .logoContainer a {
          height : 100%;
          width : 100%;
        }

        .logoContainer img {
          height : 100%;
          width : auto;
        }

        #uselessNav{
          width : 0px;
        }

        #header-title{
          text-align :center;
        }


        
        /**********************   Navbar ************************/
        #navBar{
          background: {{ mobile_app_config.BGColorNavBar}} !important;
        }

        #navBar *{
          background: {{ mobile_app_config.BGColorNavBar}} !important;
          color: {{ mobile_app_config.TitleColorNavBar}} !important;
        }

        /**********************   Content ************************/
        .page{
          background: {{ mobile_app_config.BGColorContent}} !important;
          text-shadow : none !important;
          text-decoration : none !important;
        }

        .content h1,h2,h3,h4{
          color: {{ mobile_app_config.TitleColorContent}} !important;
        }

        .ui-li-divider{
          background: {{ mobile_app_config.BGColorNavBar}} !important;
          color: {{ mobile_app_config.TitleColorNavBar}} !important;
        }

        /**********************   Footer ************************/
        #footer{
          background: {{ mobile_app_config.BGColorFooter}} !important;
        }

        #footer *{
          background: {{ mobile_app_config.BGColorFooter}} !important;
          color: {{ mobile_app_config.TitleColorFooter}} !important;
        }



        .button *{
          
        }

        .content .ui-btn{
          background: {{ mobile_app_config.BGColorButton}} !important;
          color: {{ mobile_app_config.TitleColorButton}} !important;
          border: 1px solid {{ mobile_app_config.TitleColorContent}} !important;
        }


        /*Special buttons*/
        a .swtich{
          background : #9fc3db!important;
        }


        /* Schedule */

        #getConferenceSchedule .ui-btn-inner{
          padding-top : 0!important;
          padding-bottom : 0!important;

        }

        #getConferenceSchedule H2 {
          padding-left:0.5em;
          line-height:1.5em; 
        } 
        #getConferenceSchedule H2 span{ 
          font-size : 10pt !important;
        } 
        #getConferenceSchedule p.ui-li-desc{
          font-size : 11pt !important;
          margin-top : 0em!important;
          margin-bottom : 0em!important;
        }

        #getConferenceSchedule H3.ui-li-heading{
          white-space : normal;
          overflow : visible;
          text-overflow : visible;
          font-size : 11pt !important;
          margin-top : 0em!important;
          margin-bottom : 0em!important;
        }


        /********************* Panel *******************/
        #settingsPanel {
            width: 200px;
            border: 1px solid #000;
            border-right: none;
            background: rgba(0,0,0,.5);
            margin: -1px 0;
            color: rgb(250, 252, 253);
        }

        #bonusPanel {
            width: 200px;
            border: 1px solid #000;
            border-right: none;
            background: rgba(0,0,0,.5);
            margin: -1px 0;
            color:  rgb(250, 252, 253);
        }

    </style>

  </head>
  <body style="background-color:{{ mobile_app_config.BGColorButton}}">

    <div style="height:500px;width:100%;display: table-cell;vertical-align: middle;text-align:center;background-color:{{ mobile_app_config.BGColorButton}}" >
        <img src="{{ asset('uploads/')}}{{conference.logoPath}}" height="50px" width="auto;" style="display:inline"/>
        <img src="{{ asset('bundles/fibemobileapp/mobileApp/img/loader.gif') }}" height="32px" width="32px"  style="display:inline;margin-left: auto;margin-right: auto"/>
    </div>

  </body>
  
 </html>




