{% extends "fibeWWWConfBundle::base.html.twig" %}


{% block body %}
 

    <form id="event"  class="form-horizontal" > 
        <p>  
            <div class="control-group">
                <label class="control-label" >
                    {{ form_label(formEvent.summary) }}
                </label> 
                <div class="controls">
                    {{ form_widget(formEvent.summary) }}
                    {{ form_errors(formEvent.summary) }}
                </div>
            </div> 
            
            <div class="control-group">
                <label class="control-label" >
                    {{ form_label(formEvent.description) }}
                </label> 
                <div class="controls">
                    {{ form_widget(formEvent.description) }}
                    {{ form_errors(formEvent.description) }}
                </div>
            </div> 
            
            <div class="control-group">
                <label class="control-label" >
                    {{ form_label(formEvent.categories) }}
                </label> 
                <div class="controls">
                    {{ form_widget(formEvent.categories) }}
                    {{ form_errors(formEvent.categories) }}
                </div>
            </div>  
            
            <div class="control-group">
                <label class="control-label" >
                    {{ form_label(formEvent.startAt) }}
                </label> 
                <div class="controls input-append">
                    {{ form_widget(formEvent.startAt) }}
                    <span class="add-on"><i class="icon-th"></i></span>
                    {{ form_errors(formEvent.startAt) }}
                </div>
            </div>  
            
            <div class="control-group">
                <label class="control-label" >
                    {{ form_label(formEvent.endAt) }}
                </label> 
                <div class="controls input-append">
                    {{ form_widget(formEvent.endAt) }}
                    <span class="add-on"><i class="icon-th"></i></span>
                    {{ form_errors(formEvent.endAt) }}
                </div>
            </div>  
            
            <div class="control-group">
                <label class="control-label" >
                    {{ form_label(formEvent.status) }}
                </label> 
                <div class="controls">
                    {{ form_widget(formEvent.status) }}
                    {{ form_errors(formEvent.status) }}
                </div>
            </div>  
            
            <div class="control-group">
                <label class="control-label" >
                    {{ form_label(formEvent.url) }}
                </label> 
                <div class="controls">
                    {{ form_widget(formEvent.url) }}
                    {{ form_errors(formEvent.url) }}
                </div>
            </div>  
            
            <div class="control-group">
                <label class="control-label" >
                    {{ form_label(formEvent.organizer) }}
                </label> 
                <div class="controls">
                    {{ form_widget(formEvent.organizer) }}
                    {{ form_errors(formEvent.organizer) }}
                </div>
            </div>  
            
            <div class="control-group">
                <label class="control-label"  >
                    {{ form_label(formEvent.contacts) }}
                </label> 
                <div class="controls">
                    {{ form_widget(formEvent.contacts) }}
                    {{ form_errors(formEvent.contacts) }}
                </div>
            </div>  
            
            <div class="control-group">
                <label class="control-label" >
                    {{ form_label(formEvent.location) }}
                </label> 
                <div class="controls">
                    {{ form_widget(formEvent.location) }}
                    {{ form_errors(formEvent.location) }}
                </div>
            </div>  
            
            <div class="control-group">
                <label class="control-label"  >
                    {{ form_label(formEvent.resources) }}
                </label> 
                <div class="controls">
                    {{ form_widget(formEvent.resources) }}
                    {{ form_errors(formEvent.resources) }}
                </div>
            </div>   
            <div style="visibility:hidden;display:none;height:0px;" id="hiddenInputs">     {{ form_rest(formEvent )}}</div> 
        </p>
              
        <div class="control-group">
            <div class="controls">
                <button type="submit" class="btn btn-success">{% trans %}Update event{% endtrans %}</button> 
                <button id="deleteEventBtn" class="btn btn-danger">{% trans %}Delete event{% endtrans %}</button> 
            </div>
        </div>
    </form> 
    <form id="deleteEventForm" style="visibility:hidden;display:none;height:0px;">
        {{ form_widget(delete_form) }}
        <button type="submit" class="btn btn-danger">{% trans %}Delete event{% endtrans %}</button>
    </form> 


<!--                  xproperties                    -->



<table class="table">
    <thead>
        <tr>
            <th>Link Type</th>
            <th>Name</th>
            <th>Uri</th>
        </tr>
    </thead>
    
    <tbody>
        {% for xproperty in entity.xproperties %}
            <tr>
                <td>{{ xproperty.xNamespace }}</td>
                <td>{{ xproperty.xKey }}</td>
                <td>{{ xproperty.xValue }}</td>
            </tr>
        {% endfor %}
    </tbody>

    <tfoot>
        <tr>
            <td colspan="3">
                <form id="xpropertyForm" class="form-horizontal">
                    <div class="control-group">
                        <label class="control-label" for="idci_bundle_simpleschedulebundle_xpropertytype_xnamespace">
                            {{ form_label(xproperty_form.xnamespace) }}
                        </label>
                        <div class="controls">
                            {{ form_widget(xproperty_form.xnamespace) }}
                            {{ form_errors(xproperty_form.xnamespace) }}
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="idci_bundle_simpleschedulebundle_xpropertytype_xkey">
                            {{ form_label(xproperty_form.xkey) }}
                        </label> 
                        <div class="controls">
                            {{ form_widget(xproperty_form.xkey) }}
                            {{ form_errors(xproperty_form.xkey) }}
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="idci_bundle_simpleschedulebundle_xpropertytype_xvalue">
                            {{ form_label(xproperty_form.xvalue) }}
                        </label> 
                        <div class="controls">
                            {{ form_widget(xproperty_form.xvalue) }}
                            {{ form_errors(xproperty_form.xvalue) }}
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="controls">
                            <button type="submit" class="btn btn-primary">{% trans %}Add xproperty{% endtrans %}</button>
                        </div>
                    </div>  
                    <div style="visibility:hidden;display:none;height:0px;" id="hiddenInputs">     {{ form_rest(xproperty_form )}}</div> 
                </form>
            </td>
        </tr>
    </tfoot>
</table>



<!--                  Relation                    -->



<table class="table">
    <thead>
        <tr>
            <th>id</th>
            <th>Relation</th>
            <th>startAt</th>
            <th>summary</th>
        </tr>
    </thead>

    <tbody>
        {% for relation in entity.getRelateds() %} 
            <tr> 
                <td>{{ relation.id }}</td>
                <td>{{ relation.relationType }}</td>
                <td>{{ relation.relatedTo.startAt | date('Y-m-d') }}</td>
                <td>{{ relation.relatedTo.summary }}</td>
            </tr> 
        {% endfor %}
    </tbody>

    <tfoot>
        <tr>
            <td colspan="4">
                <form id="relationForm"  class="form-horizontal">
                    <div class="control-group">
                        <label class="control-label" for="idci_simpleschedule_calendarentityrelation_type_relatedTo">
                            {{ form_label(relation_form.relatedTo) }}
                        </label> 
                        <div class="controls">
                            {{ form_widget(relation_form.relatedTo) }}
                            {{ form_errors(relation_form.relatedTo) }}
                        </div>
                    </div>  
                    <div class="control-group">
                        <label class="control-label" for="idci_simpleschedule_calendarentityrelation_type_relationType">
                            {{ form_label(relation_form.relationType) }}
                        </label> 
                        <div class="controls">
                            {{ form_widget(relation_form.relationType) }}
                            {{ form_errors(relation_form.relationType) }}
                        </div>
                    </div>   
                    <div class="control-group">
                        <div class="controls">
                            <button type="submit" class="btn btn-primary">{% trans %}Add relation{% endtrans %}</button>
                        </div>
                    </div>  
                    <div style="visibility:hidden;display:none;height:0px;" id="hiddenInputs">     {{ form_rest(relation_form )}}</div> 
                </form>
            </td>
        </tr>
    </tfoot>
</table>

{% endblock body %}




 {% block stylesheets %}
 <style type="text/css"> 

    .form-horizontal .control-group {
       margin-bottom: 7px; 
    }
    .form-horizontal .control-label{
        width: 90px;
    }
    .form-horizontal .controls {
        margin-left: 110px;
    }
    .ui-menu .ui-menu-item a{
        line-height: 1;
        font-size: .8em;
        width: 442px;
    } 
    
    body #event .control-group .input-append {
        margin-left: 20px;
    }
    .datetimepicker { 
        margin-top: 0px; 
    }
 </style>
{% endblock stylesheets %}

{%  block javascripts %} 


<script src="{{ asset('bundles/fibewwwconf/js/bootstrap-datetimepicker.min.js') }}" type="text/javascript" ></script>
<script type="text/javascript" >
    $(document).ready(function(){ 
        $('.datetimepicker').datetimepicker({
            format: 'dd/mm/yyyy hh:ii',
            autoclose: true,
        }); 
    });

</script>    
 
 
 




<script type="text/javascript" src="http://rdfquery.googlecode.com/files/jquery.rdfquery.core.min-1.0.js"></script>
<script type="text/javascript" src="http://www.jibbering.com/rdf-parser/parser.js"></script>
<script src="{{ asset('bundles/fibewwwconf/js/autocompletion.js') }}" type="text/javascript" ></script>
<script src="{{ asset('bundles/fibewwwconf/js/SWDF.js') }}" type="text/javascript" ></script>
<script src=" {{ asset('wdcalendar/js/Common.js') }}" type="text/javascript"></script>     
<script type="text/javascript" >
 
 

function FormPost(uri,form,callback){
    $.ajax({
        type: "POST",
        url:uri,
        async: false,
        data: form.serialize(),
        success:function(a,b,c) {
                     console.log(a,b,c);
                     if(callback)callback();
        }
    });
} 


// Read a page's GET URL variables and return them as an associative array.
function getUrlVars()
{
    var vars = [], hash;
    var hashes = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&');
    for(var i = 0; i < hashes.length; i++)
    {
        hash = hashes[i].split('=');
        vars.push(hash[0]);
        vars[hash[0]] = hash[1];
    }
    return vars;
}

function autoCompletePublication(){
    
    var swdf=new SWDF("{{ SparqlUrl }}");
    swdf.buildQry();
      
	swdf.callback= function(arrayResult){autoComplete($('#idci_bundle_simpleschedulebundle_xpropertytype_xkey'),arrayResult)};
	/*swdf.callback= function(arrayResult){
	    var tmpArr = [];
	    $.each(arrayResult,function(){
	       tmpArr.push(this.value); 
	    });
	    $('#idci_bundle_simpleschedulebundle_xpropertytype_xkey').typeahead(
        {
            source:  tmpArr,
            updater : function(item){
                $("#idci_bundle_simpleschedulebundle_xpropertytype_xvalue").val(item.uri).addClass("inputSuccess");
                $('#form_xvalue').val(item.uri);
                $('#form_xkey').val(item.uri);
                $("#uriLink div").removeClass("warning").addClass("success");
                $("#submitLinkButton").removeAttr("disabled").removeClass("disabled") ;
            }

        });
    };*/
    swdf.doQry();
    console.log(swdf);
	console.log(swdf.arrayResult);
}

function autoCompleteEvent(){
    
    var swdf=new SWDF("{{ SparqlUrl }}");
	swdf.$select = 	     ' ?uriEvent ?eventLabel   '; 
	swdf.$whereClause =  '?uriEvent rdfs:label ?eventLabel.'+
                         '{?uriEvent rdf:type swc:TrackEvent.}' +
                         'UNION' +
                         '{?uriEvent rdf:type swc:TalkEvent.}' +
                         'UNION' +
                         '{?uriEvent rdf:type swc:ConferenceEvent.}' +
                         'UNION ' +
                         '{?uriEvent rdf:type swc:TutorialEvent.}' +
                         'UNION' +
                         '{?uriEvent rdf:type swc:WorkshopEvent.}' +
                         ' UNION ' +
                         '{?uriEvent rdf:type swc:SessionEvent.}' +
                         'UNION' +
                         '{?uriEvent rdf:type swc:SocialEvent.}' +
                         'UNION' +
                         '{?uriEvent rdf:type swc:PanelEvent.}';
    swdf.buildQry();
	swdf.parseMtd=swdf.toArray2;
	swdf.callback= function(arrayResult){autoComplete($('#idci_bundle_simpleschedulebundle_xpropertytype_xkey'),arrayResult)};
    swdf.doQry();
	console.log(swdf.arrayResult); 
}

$(document).ready(function(){ 
    
    //autocomplete  {{ SparqlUrl }}
    $('#idci_bundle_simpleschedulebundle_xpropertytype_xnamespace').change(function(){
        var xNamespace = $(this).val();
        if( xNamespace == "publication_uri") autoCompletePublication();
        else if( xNamespace == "event_uri") autoCompleteEvent();
    });
    autoCompletePublication();
    
    //form handler
    $("#deleteEventBtn").click(function() { 
        FormPost("{{ path('admin_schedule_event_delete', { 'id': entity.id }) }}",$("#deleteEventForm"),function(){
                  CloseModelWindow(null,true);
        });
      return false;
    });
    
    $('#xpropertyForm').submit(function(event) {
        event.preventDefault();
        FormPost("{{ path('wwwconf_xproperty_add', { 'id': entity.id}) }}",$(this),function(){
                   window.location.reload();
        });
      return false;
    });
    
    $('#relationForm').submit(function(event) {
        event.preventDefault(); 
        FormPost("{{ path('admin_schedule_relation_add', { 'calendar_entity_id': entity.id}) }}",$(this),function(){
                   window.location.reload();
        });
      return false;
    });
    
    //'<div class="alert alert-info"><button type="button" clajss="close" data-dismiss="alert">×</button>Event has been updated</div>';
    $('#event').submit(function(event) {
        //edit event
        event.preventDefault();
        FormPost("{{ path('wwwconf_updateEvent', { 'id': entity.id }) }}",$(this),function(){
                alert("event updated");
        });
         
        return false;
    }); 
});




</script> 
    
{% endblock javascripts %}

