<div class="row page-top-header " style="margin-top:-1.5em;position: relative;">

  <div class="page-btn-list  col-xs-5  col-sm-4 col-md-3 col-lg-2" style="float: right;margin-right: -35px;">
    <a type="button" target="_blank" href="{{ path('schedule_confevent_edit', { 'id': entity.id }) }}"
       class="btn btn-warning">
      <i class="fa fa-search"></i>
    </a>

    <form id="delete-event-form" action="{{ path('schedule_confevent_delete', { 'id': entity.id }) }}" method="post">
      <input type="hidden" name="_method" value="DELETE"/>
      {{ form_widget(delete_form) }}
      <button type="submit" class="btn btn-danger">
        <i class="fa fa-trash-o"></i>
      </button>
    </form>
  </div>
</div>
<div class="row page-content">


  <form id="eventForm" action="{{ path('schedule_confevent_update', { 'id': entity.id }) }}"
        method="post" {{ form_enctype(edit_form) }}>
    <input type="hidden" name="_method" value="PUT"/>

    <div class="row">
      <div class="col-sm-6">
        {{ form_row(edit_form.summary) }}
        {{ form_row(edit_form.categories) }}
        {{ form_row(edit_form.description) }}
        {{ form_row(edit_form.url) }}
        {{ form_row(edit_form.comment) }}
      </div>
      <div class="col-sm-6">

        {{ form_rest(edit_form) }}
      </div>
    </div>
    <br/>

    <div class="row">
      <div class="col-lg-12">
        <button type="submit" class="btn btn-block btn-success">
          <i class="fa fa-check"></i>
        </button>
      </div>
    </div>
  </form>

  <br/><br/>

  <div class="row">
    <h1>Topics</h1>

    <div id="loader_topics" style="visibility: hidden; display:inline;"><img src="{{ asset('img/ajax-loader.gif') }}"/>
    </div>
    <div id="topics_related_list">
      {% include "fibeWWWConfBundle:ConfEvent:topicRelation.html.twig" %}
    </div>
    {{ form_widget(topic_form) }}
  </div>

  <br/><br/>

  {% if app.user.getCurrentConf().getModule().getPaperModule() == 1 %}
    <div class="row">
      <h1>Papers Relation</h1>

      <div id="loader_papers" style="visibility: hidden; display:inline;"><img
            src="{{ asset('img/ajax-loader.gif') }}"/></div>
      <div id="paper_related_list">
        {% include "fibeWWWConfBundle:ConfEvent:paperRelation.html.twig" %}
      </div>
      {{ form_widget(paper_form) }}
    </div>
  {% endif %}

  <br/><br/>

  <div class="row">
    <h1>Persons Relation</h1>

    <div id="loader_persons" style="visibility: hidden; display:inline;"><img src="{{ asset('img/ajax-loader.gif') }}"/>
    </div>
    <div id="person_related_list">
      {% include "fibeWWWConfBundle:ConfEvent:personRelation.html.twig" %}
    </div>

    <form id="role_form" action="{{ path('schedule_confevent_addPerson') }}"
          method="post" {{ form_enctype(role_form) }}>
      {{ form_widget(role_form) }}
      {{ form_errors(role_form) }}
      <br/>
      <button id="role_form_submit" class="btn btn-info" type="submit">
        <i class="fa fa-plus"></i> add Person
      </button>
    </form>
  </div>
  <br/>
</div>
<script type="text/javascript">
  $(document).ready(function ()
  {
    $("select").select2();
  });
</script>
<script type="text/javascript">
  var ajaxForms = [
    {
      formId: "#eventForm",
      route: '{{path("schedule_confevent_update", { "id": entity.id }) }}',
      callback: function (response)
      {
        bootstrapAlert("success", "Event updated");
      }
    },
    {
      formId: "#delete-event-form",
      route: "{{ path('schedule_confevent_delete', { 'id': entity.id }) }}",
      callback: function (response)
      {
        bootstrapAlert("success", "Event deleted");
      }
    }
  ];

  $(document).ready(function ()
  {
    for (var i in ajaxForms)
    {
      var form = ajaxForms[i];
      $(form.formId).off("submit").submit({form: form}, function (e)
      {
        form = e.data.form;
        $.post(form.route,
            $(form.formId).serialize(),
            function (r)
            {
              form.callback(r);
            }
        );
        return false;
      });
    }

    //listen for the form beeing submitted
    $("select[id='form_papers']").change(function ()
    {
      //get the url for the form
      var id_paper = $(this).val();
      $('#loader_papers').show();
      //start send the post request
      $.post('{{path("schedule_confevent_addPaper") }}',
          {id_entity: '{{entity.id}}', id_paper: id_paper},
          function (response)
          {
            $('#paper_related_list').html(response);
            $('#loader_papers').hide();

          }, "html");
    });

    //listen for the form beeing submitted
    $("select[id='form_topics']").change(function ()
    {
      //get the url for the form
      var id_topic = $(this).val();
      $('#loader_topics').show();
      //start send the post request
      $.post('{{path("schedule_confevent_addTopic") }}',
          {id_entity: '{{entity.id}}', id_topic: id_topic},
          function (response)
          {
            $('#topics_related_list').html(response);
            $('#loader_topics').hide();
          }, "html");
    });

    $("#role_form").submit(function ()
    {
      //get the url for the form
      var id_person = $('#fibe_bundle_wwwconfbundle_roletype_person').val();
      var id_type = $('#fibe_bundle_wwwconfbundle_roletype_type').val();
      $('#loader_persons').show();
      //start send the post request
      $.post("{{path('schedule_confevent_addPerson')}}",
          {id_person: id_person, id_type: id_type, id_entity: "{{entity.id }}"},
          function (response)
          {
            $('#person_related_list').html(response);
            $('#loader_persons').show();

          }, "html");
      return false;
    });
  })
</script>



