

{% block body %}


    <form action="{{ path('schedule_confevent_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
        <input type="hidden" name="_method" value="PUT" />
        {{ form_row(edit_form.summary) }}
        {{ form_row(edit_form.categories) }}
        {{ form_row(edit_form.startAt) }}
        {{ form_row(edit_form.url) }}
        {{ form_row(edit_form.parent) }}
        {{ form_row(edit_form.description) }}
        {{ form_row(edit_form.comment) }}
        {{ form_row(edit_form.organizer) }}
        {{ form_row(edit_form.contacts) }}
        {{ form_row(edit_form.location) }}
        {{ form_row(edit_form.priority) }}
        {{ form_row(edit_form.resources) }}
        {{ form_row(edit_form.endAt) }}
        {{ form_row(edit_form.isTransparent) }}
        {{ form_row(edit_form.wwwConf) }}

        <button class="btn btn-primary" type="submit"><i class="icon-ok"></i> Save</button>
   
      </form>
        <p>

            <h1>Papers Relation</h1>
            <div id="paper_related_list">

                {% include "fibeWWWConfBundle:ConfEvent:paperRelation.html.twig" %}
            </div>
                {{ form_widget(paper_form) }}

            <h1>Themes</h1>
            <div id="themes_related_list">

                {% include "fibeWWWConfBundle:ConfEvent:themeRelation.html.twig" %}
            </div>
                {{ form_widget(theme_form) }}

            <h1>Persons Relation</h1>
            <div id="person_related_list"> 
                {% include "fibeWWWConfBundle:ConfEvent:personRelation.html.twig" %}
            </div>
            <form id="role_form" action="{{ path('schedule_confevent_addPerson')}}" method="post" {{ form_enctype(role_form) }}>
                 {{ form_widget(role_form) }}
                <button id="role_form_submit"class="btn btn-info" type="button">
                    <i class="icon-plus"></i> add Role
                </button>
            </form>
        </p>
  

    
{% block javascripts %}

<script type="text/javascript">

    $(document).ready(function() { 
      $("select").select2(); 
   });
        
   
   //listen for the form beeing submitted
   $("select[id='form_papers']").change(function(){
      //get the url for the form
      var id_paper= $(this).val();
  
      //start send the post request
       $.post('{{path("schedule_confevent_addPaper") }}',               
                {id_entity : '{{entity.id}}', id_paper: id_paper}, 
            function(response){
                   $('#paper_related_list').html(response);
                
            }, "html");    
       });

    //listen for the form beeing submitted
   $("select[id='form_themes']").change(function(){
      //get the url for the form
      var id_theme= $(this).val();
  
      //start send the post request
       $.post('{{path("schedule_confevent_addTheme") }}',               
                {id_entity : '{{entity.id}}', id_theme: id_theme}, 
            function(response){
                   $('#themes_related_list').html(response);
                
            }, "html");    
       });

     $("#role_form_submit").click(function(){
      //get the url for the form
      var id_person = $('#fibe_bundle_wwwconfbundle_roletype_person').val();
      var id_type = $('#fibe_bundle_wwwconfbundle_roletype_type').val();
      //start send the post request
       $.post("{{path('schedule_confevent_addPerson')}}",               
               {id_person : id_person, id_type:id_type, id: "{{entity.id }}"} , 
            function(response){
                   $('#person_related_list').html(response);
                
            }, "html");    
       });

</script>
{% endblock javascripts %}

{% endblock %}
