{% extends 'fibeWWWConfBundle::base.html.twig' %}

{% block body -%}
{{ parent() }}
    <h1>Theme creation</h1>

    <form action="{{ path('schedule_theme_create') }}" method="post" {{ form_enctype(form) }}>
        {{ form_widget(form) }}
        <p>
            <button class="btn btn-primary" type="submit">Create</button>
        </p>
    </form>
 
    <a class="btn btn-warning" href="{{ path('schedule_theme') }}">
            <i class="icon-th-list"></i> List
    </a>
{% endblock %}
