{% extends 'fibeWWWConfBundle::base.html.twig' %}

{% block body -%}
{{ parent() }}
<div class="container">
    <div class="row center">
    <h1>Theme</h1>
    <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-6">
            <h2> {{ entity.name }}</h2>
                <table class="table table-hover">
                    <tbody>
                        <tr>
                            <th>Id</th>
                            <td>{{ entity.id }}</td>
                        </tr>
                        <tr>
                            <th>name</th>
                            <td>{{ entity.name }}</td>
                        </tr>
                    </tbody>
                </table> 
        </div>
    </div>
    <div class="row">
         <div class="col-lg-6"></div>
              <div class="col-lg-2 btn-group">
                  <a type="button" href="{{ path('schedule_theme') }}" class="btn btn-warning">
                        <i class="icon-th-list"></i>
                  </a>
                   <a href="{{ path('schedule_theme_edit', { 'id': entity.id }) }}" class="btn btn-success">
                         <i class="icon-pencil"></i>
                   </a>
                   <form action="{{ path('schedule_theme_delete', { 'id': entity.id }) }}" method="post">
                      <input type="hidden" name="_method" value="DELETE" />
                        {{ form_widget(delete_form) }}
                    <button type="submit" class="btn btn-danger">
                        <i class="icon-remove"></i>
                    </button>
                  </form> 
              </div>    
        </div>
    </div>
</div> 
{% endblock %}
