{% extends 'fibeWWWConfBundle::base.html.twig' %}

{% block title %}Paper edit{% endblock title %}

{% block centerPanel %}
    {{ parent() }}
    <h1>Conference Settings</h1>
     
   
    <form action="{{ path('schedule_module_update', { 'id': module.id }) }}" method="post" {{ form_enctype(module_form) }}>
        <input type="hidden" name="_method" value="PUT" />
            <div class="row">
               <div class="col-lg-2"></div>
               <div class="col-lg-4">
               <h2>Modules</h2>
                 {{ form_widget(module_form) }}
                 {{ form_errors(module_form) }}
                 </br>
                  <button type="submit" class="btn btn-block btn-success">
                            <i class="fa fa-check"></i>
                  </button>
            </div>
    </form>

{% endblock %}
