{% extends "fibeWWWConfBundle::base.html.twig" %}

{% block title %}Index{% endblock title %}
{% block body %}

{{ parent() }}

<div class="hero-unit">
    <h1>Manage conferences</h1>
 
</div> 
    <div class="container"> 
    {% if confManager.wwwConf|length > 0 %}
        <div class="accordion" id="accordion">
            {% for conf in confManager.wwwConf %} 
                <div class="accordion-group">
                    <div class="accordion-heading" style="background-color:#eee;">
                        <a class="accordion-toggle"  data-toggle="collapse" data-parent="#accordion" href="#collapse{{ conf.id }}">
                            {{ conf.confName }}
                        </a>
                    </div>
                    <div id="collapse{{ conf.id }}" class="accordion-body collapse">
                        <div class="accordion-inner" style="background-color:#f9f9f9;">
                            <p><strong>id : </strong>{{ conf.id }} <i class="muted">( <strong><i>wwwconf_id</i></strong> parameter to query restfull service )</i></p>
                            <p><strong>uri : </strong>{{ conf.confUri }}</p>
                            <p><strong>sparql endpoint : </strong>{{ conf.confOwlUri }} </p>
                            <p><strong>{{ conf.confEvents|length }} events</strong> </p> 
                            <a href="{{ path('wwwconf_schedule_confId', { 'confId': conf.id}) }}"  role="button" class="btn btn-primary btn-mini">
                               <i class="icon-cog icon-white"></i> schedule view
                            </a>
                            <button onclick="deleteConf({{ conf.id }})"  class="btn-danger btn-mini">
                               <i class="icon-remove icon-white"></i> Delete 
                            </button>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <p class="muted"><i>No conference</i></p> 
    {% endif %} 
    <hr/>
        <h3 class="text-info">Add conference</h3>
         
        <form id="SWCLinkForm">   
            {{ form_widget(confManagerForm) }} 
            <button  id="SPRQLEPURLBtn"  class="btn">
              Process import <i class="icon-arrow-right"></i> 
            </button>
        </form>
    </div> 


{% endblock body %}

{%  block javascripts %} 

        <script src="{{ asset('bundles/fibewwwconf/js/OWLImporter.js') }}" type="text/javascript" ></script>
        <script src="{{ asset('bundles/fibewwwconf/js/moment.min.js') }}" type="text/javascript" ></script>
         <script type="text/javascript" >
         
    

          function FormPost(uri,form,callback){
              $.ajax({
                  type: "POST",
                  url:uri,
                  async: false,
                  data: form.serialize(),
                  success:function(a,b,c) { 
                               if(callback)callback();
                  }
              });
          }
          
          function deleteConf(confId){
                if(prompt("write 'delete' to delete the conference","delete ?")=="delete"){
                    $.ajax({
                        type: "POST", 
                        url: "{{ app.request.getBaseURL() }}/admin/manage-conference/delete-"+confId , 
                        async: false,
                        success:function(a,b,c) {
                                    window.location.reload();
                        }
                    });
                }
          }
         
          
         $(document).ready(function(){
            
            var confOwlUriHelper = '<h4 class="text-success">Import SWC Ontology <i>(optional)<i></h4>\
                                    <h4>Please, provide a complete Conf RDF File </h4>\
                                    <h5 class="muted"><i>(such as : http://data.semanticweb.org/conference/eswc/2013/complete)</i></h5>';
            
            var confUriHelper ='<h4 class="text-success">Sparql config </h4>\
                                <h4>Please provide a valid Sparql endpoint url </h4>\
                                <h5 class="muted"><i>(such as : http://data.semanticweb.org/sparql)</i></h5>';
          
                
        /////////  init multiple Symf conf forms  END    /////////
        /////////  init multiple Symf conf forms  END    /////////
        /////////  init multiple Symf conf forms  END    /////////
            
            $('#myModal').modal();  

            var confOwlUriInput = $('#fibe_bundle_wwwconfbundle_wwwconftype_confOwlUri' );
            var confUriInput    = $('#fibe_bundle_wwwconfbundle_wwwconftype_confUri' );
            var confNameInput   = $('#fibe_bundle_wwwconfbundle_wwwconftype_confName' );

            var isConfOwlUriInputOK = false;
            var isConfUriInputOK = false; 
            var isconfNameInputOK = true; 
            
            confOwlUriInput.change(function(){ isConfOwlUriInputOK = false});
            confUriInput.change(function(){isConfUriInputOK = false});  
            
            var ConfRdfFile; 
            var confName;
            var owlLessMode=false;
            
            
            confUriInput.before(confUriHelper) 
            confOwlUriInput.before(confOwlUriHelper) 
            $('#SWCLinkForm label').remove();
            
            $('#SWCLinkForm').submit(function(event) {
                event.preventDefault(); 
                if(confOwlUriInput.val() == "" ){
                    isConfOwlUriInputOK = true;
                    confOwlUriInput.parent().addClass('control-group success');
                    owlLessMode=true;
                    if(confNameInput.val() != "" ){
                        isconfNameInputOK = true;
                        confNameInput.parent().addClass('control-group success'); 
                        send();
                    }else{
                        isconfNameInputOK = false;
                        confNameInput.parent().addClass('control-group error');
                    
                    }
                }else
				{
					owlLessMode=false;
				}
                
                //test confUriInput : owl file
                
                if( !isConfOwlUriInputOK )
                {
                    run(confOwlUriInput.val(),function(dataArray,confname)
                    {
						owlLessMode=false;
					    isConfOwlUriInputOK = true;
                        ConfRdfFile = dataArray ; 
                        confName=confname;
                        confNameInput.val(confName);
                        confNameInput.parent().addClass('control-group success');
                        confOwlUriInput.parent().addClass('control-group success');
                        send();
                        
                    },function()
                    {
                        confOwlUriInput.parent().addClass('control-group error');
                    });
                }
                
                
                //test confUriInput : sparql endpoint
                if(!isConfUriInputOK){
                    $.ajax({
                        type: "GET",
                        cache: false,
                        url:confUriInput.val()+'?query=SELECT+DISTINCT+*+WHERE+%7B+%3Fs+%3Fp+%3Fo+%7D%0D%0ALIMIT+1', 
                        success:function()
                        { 
                            confUriInput.parent().addClass('control-group success');
                            isConfUriInputOK = true;
                            send();
                        },
                        error:function() 
                        { 
                            confUriInput.parent().addClass('control-group error');
                        } 
                    }); 
                }
                
                
              return false;
            }); 
            
            function send(){
                if(isConfUriInputOK && isConfOwlUriInputOK && isconfNameInputOK ) { 
                    $.ajax({ //form post
                            type: "POST",
                            url:"{{ path('wwwconf_conference_show') }}",
                            async: false,
                            cache: false,
                            data: $('#SWCLinkForm').serialize(),
                            success:function(wwwConfId,b,c) 
                            { 
								if(owlLessMode==false){
								    confOwlUriInput.parent().addClass('control-group success');
								    $.ajax({ //DBimport
								        type: "POST",
								        cache: false, 
								        url: "{{ app.request.getBaseURL() }}/admin/link/DBimport/"+wwwConfId ,
								        data: "dataArray=" + JSON.stringify(ConfRdfFile, null),
								        success:function(a,b,c)
								        {
								            if(ConfRdfFile!=undefined)
								                alert('"'+confName+'" has been well added :\n\t'+ConfRdfFile.events.length+' events\n\t'+ConfRdfFile.locations.length+' locations\n');
								            window.location.reload();
								            
								        },
								        error:function(a,b,c)
								        { 
								            alert("The conf file has been found, but import failed");
								            confOwlUriInput.parent().addClass('control-group error');
								        },
								    });
								}else
								{
									window.location.reload();
								}
                            }
                            ,error:function(a,b,c)
                            {
                                confOwlUriInput.parent().addClass('control-group error');
                            },
                        });
                }
            }
         }); 
         </script>   
{% endblock %}







