<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8"/>
  {% block meta %}{% endblock %}
  <title>{% block title %}{% endblock %}</title>

  {% block javascripts %}
    <script type="text/javascript" src="{{ asset('js/jquery.js') }}"></script>
    <script src="{{ asset('bundles/fibewwwconf/js/json2.js') }}" type="text/javascript"></script>
    <script type="text/javascript" src="{{ asset('bootstrap/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('js/bootstrapAlert.js') }}" type="text/javascript"></script>
    <script src="{{ asset('js/select2.js') }}" type="text/javascript"></script>
    <script type="text/javascript" src="{{ asset('bootstrap/js/bootstrap-switch.min.js') }}"></script>
    <script src="{{ asset('js/moment.min.js') }}" type="text/javascript"></script>
    <script type="text/javascript">
      $(function ()
      {

        $("select").select2({width: "resolve"});

        $('.switch').bootstrapSwitch();

        $(".duration").each(function ()
        {
          //DateInterval example : P612DT18H30M00S
          if ($(this).text())
          {

            var s = $(this).text().split("M")[1].split("S")[0],
                m = $(this).text().split("H")[1].split("M")[0],
                h = $(this).text().split("T")[1].split("H")[0],
                d = $(this).text().split("P")[1].split("D")[0] % 7,
                w = $(this).text().split("P")[1].split("D")[0] / 7
                ;
            var momentDur = moment.duration({
              seconds: s,
              minutes: m,
              hours: h,
              days: d,
              weeks: w
            });
            $(this).text(momentDur.humanize());
          }
        });
      });
    </script>
    <!-- Ajax Spinner -->
    <script type="text/javascript">
      $(document).ajaxStart(function ()
      {
        $('body').addClass('wait');

      }).ajaxComplete(function ()
      {

        $('body').removeClass('wait');

      });
    </script>

  {% endblock %}

  {% block stylesheets %}

    <link rel="stylesheet" type="text/css" href="{{ asset('bootstrap/css/bootstrap.min.css') }}"/>

    <link rel="stylesheet" href="{{ asset('css/font-awesome.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('css/select2.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ asset('css/select2-bootstrap.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ asset('bootstrap/css/bootstrap-switch.min.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ asset('css/main.css') }}"/>


    <style type="text/css">
      .content
      {
        background-image: url("{{ asset('img/bg_texture2.jpg') }}");
        background-position: initial initial;
        background-repeat: initial initial;
      }

      /* select 2 required msg*/
      .select2-offscreen, .select2-offscreen:focus
      {
        left: auto !important;
        top: auto !important;
      }
    </style>
  {% endblock %}

</head>
<body>
<div class="page">

  {% block body %}

  {% endblock %}
  {% block footer %}
    {% include "::footer.html.twig" %}
  {% endblock %}
</div>
</body>

</html>














