<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="{{ asset('bootstrap/css/bootstrap.css') }}" />
        <link rel="stylesheet" type="text/css" href="{{ asset('bootstrap/css/bootstrap-responsive.css') }}" />
        <link rel="stylesheet" href="{{ asset('bundles/fibewwwconf/css/font-awesome.min.css') }}">
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
        <script type="text/javascript" src="{{ asset('bootstrap/js/bootstrap.js') }}"></script>
        <script type="text/javascript" >$('.dropdown').click(function(){$(this).addClass("open");});</script>
    </body>
</html>