<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}{% endblock %} - Seamposium</title>

        <link rel="stylesheet" type="text/css" href="{{ asset('bootstrap/css/bootstrap.min.css') }}" /> 
        <link rel="stylesheet" href="{{ asset('css/font-awesome.min.css') }}"> 
        <link rel="stylesheet" type="text/css" href="{{ asset('css/select2.css') }}" />  
        <link rel="stylesheet" type="text/css" href="{{ asset('css/select2-bootstrap.css') }}" />  

        <link rel="stylesheet" type="text/css" href="{{ asset('css/main.css') }}" /> 

        {% block stylesheets %}
         
        {% endblock %}
        <script type="text/javascript" src="{{ asset('js/jquery.js') }}"></script>
        
        <script type="text/javascript" src="{{ asset('bootstrap/js/bootstrap.min.js') }}"></script>   
        <script src ="{{ asset('js/bootstrapAlert.js') }}" type="text/javascript" ></script> 
        <script src ="{{ asset('js/select2.js') }}" type="text/javascript" ></script> 
        <script type="text/javascript" >
        $(document).ready(function() { $("select").select2(); });
        </script> 
         
        {% block javascripts %}
        {% endblock%}
    </head>
    <body>
        <div class="symfony-content">
            {% block body %} 
            {% endblock %}
        </div>
    </body> 
    {% include "::footer.html.twig" %}
</html>










