{#@TODO : TO DELETE#}
{#<footer id="footer" >#}
		{#<div class="row">#}
			{#<div class="col-xs-2  col-sm-2 col-md-2 col-lg-2"></div>#}
			{#<div class="col-xs-8  col-sm-8 col-md-8 col-lg-8">#}
					{#<div class="row">#}
						{#<div class="col-xs-3  col-sm-3 col-md-3 col-lg-3">#}
							{#<a href="http://www.live-con.com/login" title="Back Office Access">#}
								{#<img src="{{ asset('img/backoffice.png') }}" />#}
								{#<h4>Back Office Access</h4>#}
							{#</a>#}
						{#</div>#}

						{#<div class="col-xs-3  col-sm-3 col-md-3 col-lg-3">#}
							{#<a href="https://github.com/E-Conference/" title="GitHub Project" target="_blank">#}
								{#<img src="{{ asset('img/github.png') }}" />#}
								{#<h4>GitHub Project</h4>#}
							{#</a>#}
						{#</div>#}

						{#<div class="col-xs-3  col-sm-3 col-md-3 col-lg-3">#}
							{#<a href="http://twitter.com/Livecon" title="Livecon on Twitter" target="_blank">#}
								{#<img src="{{ asset('img/twitter.png') }}" />#}
								{#<h4><span class="logoname"><b>Live</b>con</span> on Twitter</h4>#}
							{#</a>#}
						{#</div>#}

					{#<div class="col-xs-3  col-sm-3 col-md-3 col-lg-3">#}
						{#<p>Live-con · v1.0 | licensed under</p>#}
					{#</div>#}
			{#</div>#}


		{#</div>#}
{#</footer>#}

<footer id="footer">
  <div class="container">
    <div class="row">
      <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 column">
        <h4>Information</h4>
        <ul class="nav">
          <li><a href="about-us.html">About Us</a></li>
          <li><a href="about-us.html">Licence</a></li>
        </ul>
      </div>
      <div class="col-xs-6 col-md-4 col-lg-4 column">
        <ul class="nav">
          <li>
            <a href="http://twitter.com/Livecon" title="Livecon on Twitter" target="_blank">
              <img src="{{ asset('img/twitter.png') }}"/>
              <h4><span class="logoname"><b>Live</b>con</span> on Twitter</h4>
            </a>
          </li>
        </ul>
      </div>
      <div class="col-xs-6 col-md-4 col-lg-4 column">
        <h4>Contact Us</h4>
        <ul class="nav">
          <li><a href="{{ path('homePage_index') }}#contact">Request/question</a></li>
          <li><a href="{{ path('homePage_index') }}#contact">Support</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>