<div id="menu-navbar" class="navbar navbar-static-top navbar-inverse" role="navigation">

  <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-ex2-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>

    <button class="btn btn-default btn-lg btn-conf" type="button">
      <a href="{{ path('schedule_conference_show') }}">{{ app.user.currentConf.confName }} </a>
    </button>

  </div>

  <div class="navbar-collapse collapse navbar-ex2-collapse">

    <ul class="nav navbar-nav navbar-right">

      <ul class="item-menu-navbar nav navbar-nav">

        <li class="dropdown">
          <a style="padding-left:5px;" href="{{ path('dashboard_index') }}" class="dropdown-toggle"
             data-toggle="dropdown">
            <i class="fa fa-cogs fa-3x"></i> Conference
            <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">

            <li>
              <a style="padding-right:5px;" href="{{ path('schedule_conference_show') }}">
                <i class="fa  fa-search-plus fa-3x"></i> Overview
              </a>

              {% if is_granted('VIEW', app.user.currentConf.module) %}
                <a style="padding-right:5px;" href="{{ path('schedule_conference_module') }}">
                  <i class="fa fa-inbox fa-3x"></i> Modules manager
                </a>
              {% endif %}
              {% if is_granted('VIEW', app.user.currentConf.team) %}
                <a style="padding-right:5px;" href="{{ path('conference_team_index') }}">
                  <i class="fa fa-users fa-3x"></i> Team
                </a>
              {% endif %}
              {% if is_granted('OPERATOR', app.user.currentConf) %}
                <a href="{{ path('externalization_import_index') }}">
                  <i class="fa fa-exchange fa-3x"></i> Import
                </a>
              {% endif %}
              {% if is_granted('VIEW', app.user.currentConf.team) %}
                <a href="{{ path('externalization_export_index') }}">
                  <i class="fa fa-download fa-3x"></i> Export
                </a>
              {% endif %}

            </li>
          </ul>
        </li>

        <li class="dropdown">
          <a style="padding-left:5px;" href="{{ path('dashboard_index') }}" class="dropdown-toggle"
             data-toggle="dropdown">
            <i class="fa  fa-archive fa-3x"></i> Modules
            <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">

            <li>
              <a style="padding-right:5px;" href="{{ path('schedule_confevent') }}">
                <i class="fa fa-calendar-o fa-3x"></i> Events
              </a>

              <a style="padding-right:5px;" href="{{ path('schedule_person_index') }}">
                <i class="fa fa-user fa-3x"></i> Persons
              </a>

              {% if app.user.getCurrentConf().getModule().getPaperModule()== true %}
                <a style="padding-right:5px;" href="{{ path('schedule_paper') }}">
                  <i class="fa fa-book fa-3x"></i> Publications
                </a>
              {% endif %}

              {% if app.user.getCurrentConf().getModule().getOrganizationModule()== true %}
                <a style="padding-right:5px;" href="{{ path('schedule_organization_index') }}">
                  <i class="fa fa-users fa-3x"></i> Organizations
                </a>
              {% endif %}

              <a style="padding-right:5px;" href="{{ path('schedule_location') }}">
                <i class="fa fa-map-marker fa-3x"></i> Locations
              </a>

              <a style="padding-right:5px;" href="{{ path('schedule_category') }}">
                <i class="fa fa-sort-amount-asc fa-3x"></i> Categories
              </a>
              <a style="padding-right:5px;" href="{{ path('schedule_topic') }}">
                <i class="fa fa-crosshairs fa-3x"></i> Topics
              </a>
              {% if app.user.getCurrentConf().getModule().getSponsorModule()== true %}
                <a style="padding-right:5px;" href="{{ path('schedule_sponsor') }}">
                  <i class="fa fa-dollar fa-3x"></i> Sponsors
                </a>
              {% endif %}

            </li>
          </ul>
        </li>

        <li>
          <a style="padding-right:5px;" href="{{ path('schedule_view') }}">
            <i class="fa fa-calendar fa-3x"></i> Schedule
          </a>
        </li>

        <li class="dropdown">
          <a href="{{ path('mobileAppTheme_index') }}" style="padding-right:5px;" class="dropdown-toggle"
             data-toggle="dropdown">
            <i class="fa fa-mobile fa-3x"></i> Mobile app'
            <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">

            <li>

              <a style="padding-right:5px;" href="{{ path('mobileAppTheme_index') }}">
                <i class="fa fa-pencil  fa-3x"></i> Theme builder
              </a>
              {% if is_granted('EDIT', app.user.currentConf.appConfig) %}
                <a style="padding-right:5px;" href="{{ path('mobileAppSettings_index') }}">
                  <i class="fa fa-wrench fa-3x"></i> Settings
                </a>
              {% endif %}
            </li>
          </ul>
        </li>

      </ul>
      <!-- end class nav-->

    </ul>
  </div>
</div>
