{% extends 'fibeWWWConfBundle::base.html.twig' %}

{% block title %}Role edit{% endblock title %}

{% block centerPanel %}
  {{ parent() }}
  <h1>RoleType edit</h1>

  <div class="row">
    <div class="col-lg-5"></div>
    <div class="col-lg-2 btn-group">
      <a type="button" href="{{ path('schedule_roletype') }}" class="btn btn-warning">
        <i class="fa fa-list"></i>
      </a>

      <form action="{{ path('schedule_roletype_delete', { 'id': entity.id }) }}" method="post">
        <input type="hidden" name="_method" value="DELETE"/>
        {{ form_widget(delete_form) }}
        <button type="submit" class="btn btn-danger">
          <i class="fa fa-trash-o"></i>
        </button>
      </form>
    </div>
  </div>

  <form action="{{ path('schedule_roletype_update', { 'id': entity.id }) }}"
        method="post" {{ form_enctype(edit_form) }}>
    <input type="hidden" name="_method" value="PUT"/>

    <div class="row">
      <div class="col-lg-2"></div>
      <div class="col-lg-4">
        {{ form_widget(edit_form) }}
        <br/>
        <button type="submit" class="btn btn-block btn-success">
          <i class="fa fa-check"></i>
        </button>
      </div>
    </div>
  </form>

{% endblock %}
