{% extends 'fibeWWWConfBundle::base.html.twig' %}

{% block title %}Role{% endblock title %}

{% block centerPanel %}
  {{ parent() }}
  <div class="page-header">

    <div class="row">
      <div class="col-lg-3">
        <h1>{% trans %}Role Types{% endtrans %}</h1>
      </div>
      <div class="col-lg-4">
        <!-- <a class="btn btn-info btn-create create" href="{{ path('schedule_roletype_new') }}">
                         <i class="fa fa-plus"></i>
                    </a>-->
      </div>
    </div>
  </div>

  <table class="table table-hover records_list">
    <thead>
    <tr>
      <th>Id</th>
      <th>name</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
      <tr>
        <td><a href="{{ path('schedule_roletype_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
        <td>{{ entity.name }}</td>
        <td>
          <a class="btn btn-default" href="{{ path('schedule_roletype_show', { 'id': entity.id }) }}"><i
                class="fa fa-eye"></i></a>
          <!--<a class="btn btn-warning edit" href="{{ path('schedule_roletype_edit', { 'id': entity.id }) }}"><i class="fa fa-pencil"></i></a> -->
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>

{% endblock %}
