{% extends 'fibeWWWConfBundle::base.html.twig' %}

{% block title %}New role{% endblock title %}

{% block centerPanel %}
  {{ parent() }}
  <h1>RoleType creation</h1>

  <div class="row">
    <div class="col-lg-5"></div>
    <div class="col-lg-2 btn-group">
      <a type="button" href="{{ path('schedule_roletype') }}" class="btn btn-warning">
        <i class="fa fa-list"></i>
      </a>
    </div>
  </div>

  <form action="{{ path('schedule_roletype_create') }}" method="post" {{ form_enctype(form) }}>
    <div class="row">
      <div class="col-lg-2"></div>
      <div class="col-lg-4">
        {{ form_widget(form) }}
        {{ form_errors(form) }}
        <br/>
        <button type="submit" class="btn btn-block btn-success">
          <i class="fa fa-check"></i>
        </button>
      </div>
    </div>
  </form>
{% endblock %}
