{% extends 'fibeConferenceBundle::base.html.twig' %}

{% block title %}Conference details{{ parent() }}{% endblock title %}


{% block centerPanel %}
    {{ parent() }}
    <div class="page-header">
        <div class="page-header well">
                
            <div class="row">
                <div class="col-lg-4">
                    <h1>{{ wwwConf.mainConfEvent.summary }}</h1>
                  <a class="twitter-timeline" href="https://twitter.com/benoitddlp" data-widget-id="">Tweets de @benoitddlp</a>
                  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
                    <ul>
                        <li> {{ wwwConf.events|length }} events </li>
                        <li> {{ wwwConf.papers|length }} papers </li>
                        <li> {{ wwwConf.locations|length }} locations </li>
                        <li> {{ wwwConf.persons|length }} persons </li>
                        <li> {{ wwwConf.topics|length }} topics </li>
                        <li> {{ wwwConf.organizations|length }} organizations </li> 
                        <li> {{ wwwConf.confManagers|length }} confManagers </li>
                    </ul> 
                </div>
                <div class="col-lg-8">
                    <div id="map" style="height:300px"></div>
                </div>
            </div> 
        </div>
    </div>               
{% endblock centerPanel %}

{%  block stylesheets_page %}
     <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.css" />
{% endblock %}

{%  block javascripts_page %} 
     <script src="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.js"></script>
    <script type="text/javascript" >

    function initializeMap(){
        // set up the map
        map = new L.Map('map');

        // create the tile layer with correct attribution
        var osmUrl='http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png';
        var osmAttrib='Map data © OpenStreetMap contributors';
        var osm = new L.TileLayer(osmUrl, {minZoom: 1, maxZoom: 15, attribution: osmAttrib});  
        map.addLayer(osm);     

    {% if (location.latitude is not empty) and (location.longitude is not empty) %} 
        map.setView(new L.LatLng({{location.latitude}}, {{location.longitude}}),13);
        marker = L.marker([{{location.latitude}}, {{location.longitude}}]).addTo(map);
    {% else %}
        map.setView(new L.LatLng(40,10),1);

    {% endif %}
    }
    var marker;
    var map;
    $(document).ready(function(){
         
        initializeMap();

    });
       
     </script>   
{% endblock %}








