{% extends 'fibeHomePageBundle::base.html.twig' %}

{% block head %}
  {% block title %}Livecon upgrade your conference{% endblock %}
  {% block stylesheets_page %}
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/fibehomepage/css/homepage.css') }}"/>
    <!-- reset -->
    <link rel="stylesheet" type="text/css" media="screen" href="{{ asset('bundles/fibehomepage/css/reset.css') }}"/>
    <!-- grid system 16 -->
    <link rel="stylesheet" type="text/css" media="screen"
          href="{{ asset('bundles/fibehomepage/css/960_12_col.css') }}"/>

    <link rel="stylesheet" type="text/css" media="screen" href="{{ asset('bundles/fibehomepage/css/style.css') }}"/>
  {% endblock %}
{% endblock %}

{% block body %}
  {% include "fibeHomePageBundle::topBar.html.twig" %}
  <div id="entete">
    <div class="container_12">
      <div class="grid_5 omega">
        <h1><span class="logoname"><b>Live</b>con</span> upgrade your conference</h1>

        <h2>Be efficient with simple tools, be reactive.</h2>

        <p><span
              class="logoname"><b>Live</b>con</span> is a free conference management system based on smart and
          innovating tools.<br/>It carries you through your event organization to make the most of your time. It
          enhances your attendees experience with a mobile friendly application deployed for you.
        </p>
        <a href="#overview">
          <div class="btn grid_4 alpha omega">Why should i choose <span class="logoname"><b>Live</b>con</span> ?</div>
        </a>
      </div>
    </div>
  </div>

  <div id="overview">
    <div class="container_12">
      <h1>Overview</h1>
      <hr/>
      <div id="t_before" class="clearfix">
        <a href="#before" title="Before Conference">
          <div class="grid_6">
            <h2>Before your conference</h2>
          </div>
          <div class="grid_6 alpha elements">
            <div class="element element01">
              <img src="{{ asset('bundles/fibehomepage/img/picto/import.png') }}"/>

              <p>Start from scratch or from xml/xls files.</p>
            </div>
            <div class="element element02">
              <img src="{{ asset('bundles/fibehomepage/img/picto/custom.png') }}"/>

              <p>Customize your mobile application as you wish.</p>
            </div>
          </div>
        </a>
      </div>
      <div id="t_during" class="clearfix">
        <a href="#during" title="During Conference">
          <div class="grid_6">
            <h2>During your conference</h2>
          </div>
          <div class="grid_6 alpha elements">
            <div class="element element01">
              <img src="{{ asset('bundles/fibehomepage/img/picto/schedule.png') }}"/>

              <p>Keep your schedule up to date.</p>
            </div>
            <div class="element element02">
              <img src="{{ asset('bundles/fibehomepage/img/picto/reloaded.png') }}"/>

              <p>Let the application broadcast the changes for you.</p>
            </div>
          </div>
        </a>
      </div>
      <div id="t_after" class="clearfix">
        <a href="#after" title="After Conference">
          <div class="grid_6">
            <h2>After your conference</h2>
          </div>
          <div class="grid_6 alpha elements">
            <div class="element element01">
              <img src="{{ asset('bundles/fibehomepage/img/picto/publish.png') }}"/>

              <p>Open your data to the Web 3.0 and increase your conference visibility.</p>
            </div>
            <div class="element element02">
              <img src="{{ asset('bundles/fibehomepage/img/picto/like.png') }}"/>

              <p>Let people find what they liked using the app.</p>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>

  <div id="before">
    <div class="container_12">
      <h1>Before your conference</h1>

      <div class="illustration"></div>
      <div id="overview01" class="clearfix">
        <div class="grid_1"><img src="{{ asset('bundles/fibehomepage/img/picto/import.png') }}"/></div>
        <div class="number grid_1">1.</div>
        <div class="grid_3"><h3>Start from scratch or import your data from an xml or xls file.</h3></div>
      </div>
      <div class="explain grid_4 clearfix">
        <p><span
              class="logoname"><b>Live</b>con</span> provides you an import fonctionnality, which lets you start from
          your OCS data, from xml and xls file, or from scratch. Your live conference is a set of sub events following a
          web standard hierarchy that can be managed thanks to a visual calendar by specifying:
          <br/>
          <b>Who: </b> The actors involved in each of your event and their roles (chair, speaker…).<br/>
          <b>What: </b> The papers presented associated with their authors, a main theme and a format (talk, panel,
          session, workshop, tutorial, break….).<br/>
          <b>Where: </b> The rooms where the events take place.<br/>
          <b>When: </b> The dates when the events take place.<br/><br/>
          Your mobile application is already available, customize it as you wish!
        </p>
      </div>
      <div id="overview02" class="clearfix">
        <div class="grid_1"><img src="{{ asset('bundles/fibehomepage/img/picto/custom.png') }}"/></div>
        <div class="number grid_1">2.</div>
        <div class="grid_3"><h3>Customize your mobile application as you wish.</h3></div>
      </div>
    </div>
  </div>

  <div id="during">
    <div class="container_12">
      <h1>During your conference</h1>

      <div class="grid_5 alpha omega">
        <div id="overview03" class="clearfix">
          <div class="clearfix">
            <div class="grid_1"><img src="{{ asset('bundles/fibehomepage/img/picto/schedule.png') }}"/></div>
            <div class="number grid_1">3.</div>
            <div class="grid_3"><h3>Keep your schedule up to date.</h3></div>
          </div>
          <div class="grid_3 push_2"><p>Planning changes? Speaker late?<br/>
              Change your schedule easily with a user friendly interface.<br/>
              Plan a speaker to a different event, move an event to an another room…</p>
          </div>
        </div>
        <div id="overview04" class="clearfix">
          <div class="clearfix">
            <div class="grid_1"><img src="{{ asset('bundles/fibehomepage/img/picto/reloaded.png') }}"/></div>
            <div class="number grid_1">4.</div>
            <div class="grid_3"><h3>Let the application broadcast the changes<br/>for you.</h3></div>
          </div>
          <div class="grid_3 push_2">
            <p>Thanks to your web application, all your changes will be broadcasted to your attendees that can consult
              the planning, the authors list, and everything that composes your conference directly from their
              smartphones.</p>
          </div>
        </div>
      </div>
      <div class="grid_7"><img src="{{ asset('bundles/fibehomepage/img/illustration/during.png') }}"/></div>
    </div>
  </div>

  <div id="after">
    <div class="container_12">
      <h1>After your conference</h1>

      <div class="grid_6"><img src="{{ asset('bundles/fibehomepage/img/illustration/after.png') }}"/></div>
      <div class="grid_6 overview_after">
        <div id="overview05" class="clearfix">
          <div class="clearfix">
            <div class="grid_1"><img src="{{ asset('bundles/fibehomepage/img/picto/publish.png') }}"/></div>
            <div class="number grid_1">5.</div>
            <div class="grid_4 omega"><h3>Open your data to the Web 3.0 and increase your conference visibility.</h3>
            </div>
          </div>
          <div class="grid_4 push_2 omega">
            <p>By allowing people to have a SPARQL access to your metadata, you participate to the development of the
              web and the open knowledge expansion. Expect your data to be reused in other system, spreading them all
              over the web.</p>
          </div>
        </div>
        <div id="overview06" class="clearfix">
          <div class="clearfix">
            <div class="grid_1"><img src="{{ asset('bundles/fibehomepage/img/picto/like.png') }}"/></div>
            <div class="number grid_1">6.</div>
            <div class="grid_4 omega"><h3>Let people find what they liked using the app.</h3></div>
          </div>
          <div class="grid_4 push_2 omega">
            <p>The application will remain available as long as you wish representing an amazing overview of what makes
              your conference a major actor of the domains it deals with.</p>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div id="app">
    <div class="container_12">
      <h1>The <span class="logoname"><b>Live</b>con</span> App</h1>

      <div id="app01" class="grid_5">
        <iframe data-src="http://dataconf.liris.cnrs.fr/eswc2013/" width="315" height="560"></iframe>
      </div>
      <div id="app02" class="grid_5">
        <iframe data-src="http://dataconf.liris.cnrs.fr/www2012/" width="315" height="560"></iframe>
      </div>
    </div>
  </div>

  <div id="getstarted">
    <div class="container_12">
      <h1>Get Started</h1>

      <div class="grid_10 push_2 suffix_2">
        <div class="grid_3 alpha"><img src="{{ asset('bundles/fibehomepage/img/illustration/getstarted.png') }}"/></div>
        <div class="grid_5 omega">
          <p>To get started please create an account and start building your conference with your team!<br/><br/>During
            your organisation process, we will always be available to support you.
          </p></div>
      </div>
      <a href="{{ path('fos_user_registration_register') }}">
        <div class="btn grid_4 push_4 alpha omega">Start the <span class="logoname"><b>Live</b>con</span> solution</div>
      </a>
    </div>
  </div>

  <div id="contact">
    <div class="container_12">
      <h1>Contact us</h1>

      <div id="contactWrapper">
        <form action="{{ path('homePage_index') }}" method="post" id="contactform">
          <input type="hidden" name="POST" value=""/>

          <div class="grid_5">
            <div class="stage">
              <p>{{ form_label(form_contact.nom) }}</p>
              {{ form_widget(form_contact.nom) }}
            </div>
            <div class="stage">
              <p>{{ form_label(form_contact.prenom) }}</p>
              {{ form_widget(form_contact.prenom) }}
            </div>

            <div class="stage">
              <p>{{ form_label(form_contact.email) }}</p>
              {{ form_widget(form_contact.email) }}
            </div>
          </div>
          <div class="grid_6 push_1">
            <div class="stage">
              <p>{{ form_label(form_contact.confname) }}</p>
              {{ form_widget(form_contact.confname) }}
            </div>

            <div class="stage">
              <p>{{ form_label(form_contact.message) }}</p>
              {{ form_widget(form_contact.message) }}
            </div>

            <p class="requiredNote"><em>*</em> Denotes a required field.</p>

            <input type="submit" value="Send Message" id="submitButton" class="btn submit"
                   title="Click here to submit your message!"/>
            <!--<button type="submit" value="Send Message" id="submitButton" class="btn submit" title="Click here to submit your message!"></button>-->
            <p class="disclaimer"></p>

            <p id="callback">callback</p>
          </div>
        </form>

      </div>
    </div>
  </div>

  <div id="footer">
    <div class="container_12">
      <div class="grid_6">
        <h3>Created by</h3>
        <ul>
          <li><p>Fiona LE PEUTREC

            <p></li>
          <li><p>Florian BACLE</p></li>
          <li><p>Benoît DURANT DE LA PASTELLIERE</p></li>
        </ul>
        <a href="http://thibaud-lentheric.com" title="Thibaud LENTHERIC Portfolio" target="_blank">
          <h3 class="design">Design by</h3>

          <p class="design">Thibaud LENTHERIC</p>
        </a>
      </div>
      <div class="grid_2">
        <a href="http://www.live-con.com/login" title="Back Office Access">
          <img src="{{ asset('bundles/fibehomepage/img/picto/backoffice.png') }}"/>
          <h4>Back Office Access</h4>
        </a>
      </div>
      <div class="grid_2">
        <a href="https://github.com/E-Conference/" title="GitHub Project" target="_blank">
          <img src="{{ asset('bundles/fibehomepage/img/picto/github.png') }}"/>
          <h4>GitHub Project</h4>
        </a>
      </div>
      <div class="grid_2">
        <a href="http://twitter.com/Livecon" title="Livecon on Twitter" target="_blank">
          <img src="{{ asset('bundles/fibehomepage/img/picto/twitter.png') }}"/>
          <h4><span class="logoname"><b>Live</b>con</span> on Twitter</h4>
        </a>
      </div>
      <div class="grid_6" id="version"><p>Live-con · v1.0 | licensed under</p></div>
    </div>
  </div>







{% endblock body %}

	{% block javascripts_page %}


    <script type="text/javascript" src="{{ asset('bundles/fibehomepage/js/jquery.easing.1.3.js') }}"></script>
    <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
    <script type="text/javascript" src="{{ asset('bundles/fibehomepage/js/greensock/TweenMax.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/fibehomepage/js/jquery.superscrollorama.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/fibehomepage/js/jquery.plusanchor.js') }}"></script>

    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <script type="text/javascript">
      $(function ()
      {

        // Scroll to
        $('body').plusAnchor({
          easing: 'easeInOutExpo',
          speed: 1000,
          offsetTop: -70
        });

        var controller = $.superscrollorama();

        controller.addTween('#t_before .elements',
            TweenMax.from($('#t_before h2'), .3, {css: {paddingRight: 200, opacity: 0}, ease: Cubic.easeoUt}), 0, -75);
        controller.addTween('#t_before .elements',
            TweenMax.from($('#t_before .element01'), .3, {css: {left: 200, opacity: 0}, ease: Cubic.easeoUt}), 0, -75);
        controller.addTween('#t_before .elements',
            TweenMax.from($('#t_before .element02'), .45, {css: {left: 200, opacity: 0}, ease: Cubic.easeoUt}), 0, -75);

        controller.addTween('#t_during .elements',
            TweenMax.from($('#t_during h2'), .3, {css: {paddingRight: 200, opacity: 0}, ease: Cubic.easeoUt}), 0, -75);
        controller.addTween('#t_during .elements',
            TweenMax.from($('#t_during .element01'), .3, {css: {left: 200, opacity: 0}, ease: Cubic.easeoUt}), 0, -75);
        controller.addTween('#t_during .elements',
            TweenMax.from($('#t_during .element02'), .45, {css: {left: 200, opacity: 0}, ease: Cubic.easeoUt}), 0, -75);

        controller.addTween('#t_after .elements',
            TweenMax.from($('#t_after h2'), .3, {css: {paddingRight: 200, opacity: 0}, ease: Cubic.easeoUt}), 0, -75);
        controller.addTween('#t_after .elements',
            TweenMax.from($('#t_after .element01'), .3, {css: {left: 200, opacity: 0}, ease: Cubic.easeoUt}), 0, -75);
        controller.addTween('#t_after .elements',
            TweenMax.from($('#t_after .element02'), .45, {css: {left: 200, opacity: 0}, ease: Cubic.easeoUt}), 0, -75);

        controller.addTween('#overview01',
            TweenMax.from($('#overview01'), .45, {css: {marginLeft: 520, opacity: 0}, ease: Cubic.easeoUt}), 0, -100);

        controller.addTween('#overview02',
            TweenMax.from($('#overview02'), .45, {css: {marginLeft: 420, top: 580, opacity: 0}, ease: Cubic.easeoUt}), 0, -250);

        controller.addTween('#overview03',
            TweenMax.from($('#overview03'), .45, {css: {marginLeft: -200, opacity: 0}, ease: Cubic.easeoUt}), 0, -100);

        controller.addTween('#overview04',
            TweenMax.from($('#overview04'), .45, {css: {marginLeft: 200, opacity: 0}, ease: Cubic.easeoUt}), 0, -100);

        controller.addTween('#after',
            TweenMax.from($('#overview05'), .45, {css: {left: -200, top: 100, opacity: 0}, ease: Cubic.easeoUt}), 0, 100);

        controller.addTween('#overview05',
            TweenMax.from($('#overview06'), .45, {css: {left: -200, top: 100, opacity: 0}, ease: Cubic.easeoUt}), 0, -75);

        //load apps on scroll        
        var appLoaded=false;
        var appsDiv = $('#app');
        $(document).scroll(function() {
            if (!appLoaded && appsDiv.offset().top <= $(document).scrollTop()) {
              appLoaded=true;
              appsDiv.find("iframe").each(function(){
                $(this).attr("src",$(this).data("src"))
              })
            }
        });

        controller.addTween('#app',
            TweenMax.from($('#app01'), .45, {css: {left: -200, opacity: 0}, ease: Cubic.easeoUt}), 0, 150);

        controller.addTween('#app',
            TweenMax.from($('#app02'), .45, {css: {right: -200, opacity: 0}, ease: Cubic.easeoUt}), 0, 150);

      });
    </script>

  {% endblock %}
