{% extends 'fibeHomePageBundle::base.html.twig' %}

{% block title %}Dashboard - seamposium{% endblock title %}
{% block body %}


{% include "fibeHomePageBundle::navbar.html.twig" %}

<div class="container">
		<div id="carousel" class="carousel slide">
		  <!-- Indicators -->
			  <ol class="carousel-indicators">
			    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
			    <li data-target="#myCarousel" data-slide-to="1"></li>
			    <li data-target="#myCarousel" data-slide-to="2"></li>
			  </ol>
			  <div class="carousel-inner">
			    <div class="item active">
			      <img src="{{ asset('img/screenshot-eswc.png')}}">
			      <div class="container">
			        <div class="carousel-caption">
			          <h1>Bootstrap 3 Carousel Layout</h1>
			          <p>This is an example layout with carousel that uses the Bootstrap 3 styles.
			          <a title="Bootstrap 3" href="http://getbootstrap.com" class="">Bootstrap 3 RC 1 is now available!</a></p>
			          <p><a class="btn btn-large btn-primary" href="#">Sign up today</a>
			        </p></div>
			      </div>
			    </div>
			    <div class="item">
			      <img src="{{ asset('img/screenshot_iswc2012.png')}}">
			      <div class="container">
			        <div class="carousel-caption">
			          <h1>Changes to the Grid</h1>
			          <p>Bootstrap 3 still features a 12-column grid, but many of the CSS class names have completely changed.</p>
			          <p><a class="btn btn-large btn-primary" href="#">Learn more</a></p>
			        </div>
			      </div>
			    </div>
			    <div class="item">
			      <img src="http://placehold.it/1500X500">
			      <div class="container">
			        <div class="carousel-caption">
			          <h1>Percentage-based sizing</h1>
			          <p>With "mobile-first" there is now only one percentage-based grid.</p>
			          <p><a class="btn btn-large btn-primary" href="#">Browse gallery</a></p>
			        </div>
			      </div>
			    </div>
			  </div>
			  <a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
			  <a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
		</div><!-- /.carousel -->
    <div class="row">
    	<div class="col-1">
			<div class="parallelogramRight">
				<div btn-group-vertical>
					<button type="button" class="btn btn-default btn-lg btn-menu">dsfsdff</button>
					<button type="button" class="btn btn-default btn-lg btn-menu">dsfsdff</button>
					<button type="button" class="btn btn-default btn-lg btn-menu">dsfsdff</button>
					<button type="button" class="btn btn-default btn-lg btn-menu">dsfsdff</button>
				</div>
			</div>
			<div class="parallelogramRight">
				<div btn-group-vertical>
					<button type="button" class="btn btn-default btn-lg btn-menu">dsfsdff</button>
					<button type="button" class="btn btn-default btn-lg btn-menu">dsfsdff</button>
					<button type="button" class="btn btn-default btn-lg btn-menu">dsfsdff</button>
					<button type="button" class="btn btn-default btn-lg btn-menu">dsfsdff</button>
				</div>
			</div>
			<div class="parallelogramRight">
				<div btn-group-vertical>
					<button type="button" class="btn btn-default btn-lg btn-menu">dsfsdff</button>
					<button type="button" class="btn btn-default btn-lg btn-menu">dsfsdff</button>
					<button type="button" class="btn btn-default btn-lg btn-menu">dsfsdff</button>
					<button type="button" class="btn btn-default btn-lg btn-menu">dsfsdff</button>
				</div>
			</div>
		</div>
    	<div class ="col-10 col-md-6">
	      <div class="jumbotron">
	            <h1>Welcome to seamposium</h1>
	            <p>Organize your conference, boost it with an app</p>
	            <div class="row-fluid">
	                <div class="col-lg-3">
	                     <div class="btn-group"> 
	                        <a href="{{ path('schedule_index') }}" role="button" class="btn btn-info btn-large">
	                          <span class="icon-calendar"></span>Manage your schedule
	                        </a>
	                    </div>
	                </div>

	                <div class="col-lg-3">
	                     <div class="btn-group"> 
	                        <a href="{{ path('mobileAppTheme_index') }}" role="button" class="btn btn-warning btn-large">
	                          <span class="icon-calendar"></span>Manage your mobile applciation
	                        </a>
	                    </div>
	                </div>

		             <div class="col-lg-3">
		                 <div class="btn-group"> 
		                    <a href="{{ path('userData_index') }}" role="button" class="btn btn-success btn-large">
		                      <span class="icon-calendar"></span>Manage user data
		                    </a>
		                </div>
		            </div>
	            </div>
	      </div>
	    </div>
	     <div class="col-1 ">
			<div class="parallelogramLeft">

			</div>
		</div>
	</div>

</div>    
  
{% endblock body %}




