<div class="navbar navbar-static-top navbar-inverse">
    <div class="navbar-inner">
        <div class="container">
            <a type="button" class="navbar-toggle"  data-toggle="collapse" data-target=".navbar-responsive-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>

            <a class="brand" href="{{ path('schedule') }}">SimpleSchedule</a>
            <div class="nav-collapse collapse navbar-responsive-collapse">
                <ul class="nav">
                    <li>
                        <a href="{{ path('schedule_status') }}" title="Status">Status</a>
                    </li>
                    <li>
                        <a href="{{ path('schedule_location') }}" title="Location">Location</a>
                    </li>
                    <li>
                        <a href="{{ path('schedule_category') }}" title="Category">Category</a>
                    </li>
                    <li>
                        <a href="{{ path('schedule_confevent') }}" title="Event">Event</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
