{% extends '::base.html.twig' %}

{% block title %}Index{% endblock title %}
 {% block stylesheets %} 
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/fibewwwconf/css/datetimepicker.css') }}" /> 
    <link rel="stylesheet" href="{{ asset('bundles/fibewwwconf/css/font-awesome.min.css') }}"> 
    <style type="text/css">
            
    #bootstrap_alert{
        position: fixed;
        top: 1em;
        right: 1em ;
        min-width: 20em;
        z-index: 1000;
    }
    </style>
 {% endblock %}

{% block javascripts %} 
<script type="text/javascript" >
    $(document).ready(function(){ 
        $('.datetimepicker').datetimepicker({
            format: 'dd/mm/yyyy hh:ii',
            autoclose: true,
        });
    });

</script>   
<script type="text/javascript" src="{{ asset('bundles/fibewwwconf/js/bootstrap-datetimepicker.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/fibewwwconf/js/bootstrap.min.js') }}"></script>
<script type="text/javascript" src="http://code.jquery.com/ui/1.10.1/jquery-ui.js"></script> 
<script src="{{ asset('bundles/fibewwwconf/js/json2.js') }}" type="text/javascript" ></script>
<script type="text/javascript" >
    var bootstrapAlertTimeout;
    function bootstrapAlert(type,msg,title,icon){
        var $body = $("body");

        //get unique #bootstrap_alert
        var $bootstrapAlert = $('#bootstrap_alert').length < 1 ? $('<div id="bootstrap_alert"></div>').prependTo($body) : $('#bootstrap_alert');
        
        if(type== "stop"){
          clearTimeout(bootstrapAlertTimeout); 
          // $bootstrapAlert.animate({'opacity': 0 }, {queue: false, duration: 1500});
          $bootstrapAlert.fadeOut(1500);
          return;
        } 
        var config = {
            success:{
                title:"Success : ",
                icon:"<i class='icon-ok'></i>"
            },
            info:{
                title:"Info : ",
                icon:"<i class='icon-info'></i>"
            },
            error:{
                title:"Error : ",
                icon:"<i class='icon-meh'></i>"
            }
        }
        //default values
        if(!config[type]){
            msg=type;
            type="info";
        }
        if(!icon && icon!=""){ 
            icon = config[type].icon
        } 

        if(!title && title!="" ){
            title = config[type].title;
        }

        $bootstrapAlert.attr("class","")
                       .addClass("alert alert-"+type) 
                       .html('<button type="button" class="close" data-dismiss="alert">&times;</button><strong> '+title+' </strong>'+msg)  
                       .prepend($(icon).addClass("icon-2x").css("margin-right","0.5em"));

        if(!$bootstrapAlert.is(":visible"))
            // $bootstrapAlert.hide().animate({'opacity': 1 }, {queue: false});
            $bootstrapAlert.hide().fadeIn(1500);
        clearTimeout(bootstrapAlertTimeout);
        bootstrapAlertTimeout=setTimeout(function(){
                // $bootstrapAlert.animate({'opacity': 0 }, {queue: false, duration: 1500});
                $bootstrapAlert.fadeOut(1500);
            },5000);
    }
</script>   
{% endblock%}


{% block body %}
<div class="symfony-content">
            {% include "fibeWWWConfBundle::adminmenu.html.twig" %}
            {% for flashMessage in app.session.flashbag.get('info') %}
                <script type="text/javascript" >
                    bootstrapAlert("info","{{ flashMessage }}","Info : ",'<i class="icon-info"></i> ');
                </script> 
            {% endfor %}

            {% for flashMessage in app.session.flashbag.get('success') %} 
                <script type="text/javascript" >
                bootstrapAlert("success","{{ flashMessage }}","Success : ",'<i class="icon-ok-sign"></i> '); 
                </script>  
            {% endfor %}

            {% for flashMessage in app.session.flashbag.get('error') %}
                <script type="text/javascript" >
                bootstrapAlert("error","{{ flashMessage }}","Error : ",'<i class="icon-meh"></i> '); 
                </script> 
            {% endfor %}
             
        </div> 

{% endblock body %}
 