
<div id="main-navbar" class="navbar navbar-static-top navbar-inverse" role="navigation">

  <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-ex1-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="{{ path('dashboard_index') }}" title="Go back to Index"> <img src="{{ asset('img/livecon.png') }}"/></a>
  </div> 

  <div class="navbar-collapse collapse navbar-ex1-collapse">

    <ul class="nav navbar-nav">  

       
      

       <!-- Home dropdown -->
        <li>
           <a href="{{ path('schedule_conference_index') }}" title="Go to homepage">
            <i class="fa fa-home fa-3x"></i> Home</a>
          </a>
        </li> 


    </ul>



    <ul class="nav navbar-nav navbar-right">
        <!-- Pofile -->
        <li >
          <a href="{{ path('fos_user_profile_edit') }}">
             <i class="fa fa fa-user fa-3x"></i> Profile
          </a>
        </li> 

        <li >
          <a href="{{ path('logout') }}" title="logout">
            <i class="fa fa-sign-out fa-3x"></i> Logout
          </a>
        </li> 
    </ul> 
  </div>
</div>




