{% extends 'fibeWWWConfBundle::base.html.twig' %}

{% block title %}Location edit{% endblock title %}

{% block centerPanel %}
  {{ parent() }}

  <div class="row page-top-header ">
    <div class="page-title col-xs-5  col-sm-4 col-md-3 col-lg-2">
      <span>Edit location</span>
    </div>

    <div class=" col-xs-2 col-sm-4 col-md-6 col-lg-8">
    </div>
    <div class="page-btn-list  col-xs-5  col-sm-4 col-md-3 col-lg-2">
      <a type="button" href="{{ path('schedule_location') }}" class="btn btn-warning" title="Go back to the list">
        <i class="fa fa-list"></i>
      </a>
      {% if is_granted('DELETE', entity) %}
        <form action="{{ path('schedule_location_delete', { 'id': entity.id }) }}" method="post" title="Delete event">
          <input type="hidden" name="_method" value="DELETE"/>
          {{ form_widget(delete_form) }}
          <button type="submit" class="btn btn-danger">
            <i class="fa fa-trash-o"></i>
          </button>
        </form>
      {% endif %}
    </div>
  </div>
  <div class="row page-content">
    <form action="{{ path('schedule_location_update', { 'id': entity.id }) }}"
          method="post" {{ form_enctype(edit_form) }}>
      <div class="row">

        {{ form_widget(edit_form) }}

        <div class="col-lg-12">

          <br/>
          <button type="submit" class="btn btn-block btn-success">
            <i class="fa fa-check"></i>
          </button>
        </div>
      </div>
    </form>
  </div>

{% endblock %}


