{% extends 'fibeWWWConfBundle::base.html.twig' %}

{% block title %}Categories{% endblock title %}

{% block centerPanel %}
  {{ parent() }}
      <div class="row page-top-header ">
            <div class="page-title col-xs-5  col-sm-4 col-md-3 col-lg-2">
                <span>Category details</span>
            </div>

            <div class="col-xs-2 col-sm-4 col-md-6 col-lg-8">
            </div>
            <div class="page-btn-list col-xs-5  col-sm-4 col-md-3 col-lg-2">
                 <a type="button" href="{{ path('schedule_category') }}" class="btn btn-warning" title="Go back to the list">
                        <i class="fa fa-list"></i>
                  </a>
            </div>
      </div>
      <div class="row page-content">
            <div class="row">

            <div class="col-lg-12">
                <h2> {{ entity.name }}</h2>
                <table class="table table-hover">
                    <tbody>
                        <tr>
                            <th>Id</th>
                            <td>{{ entity.id }}</td>
                        </tr>
                        <tr>
                            <th>Color</th>
                            <td>
                                <div style="width:28px;height:28px;border:1px solid #222;background:{{ entity.color }}" title="{{ entity.color }}">
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th>Name</th>
                            <td>{{ entity.name }}</td>
                        </tr>
                        <tr>
                            <th>Slug</th>
                            <td>{{ entity.slug }}</td>
                        </tr>
                        {# <tr>
                            <th>Description</th>
                            <td>{{ entity.description }}</td>
                        </tr>
                        <tr>
                            <th>Level</th>
                            <td>{{ entity.level }}</td>
                        </tr>
                        <tr>
                            <th>Tree</th>
                            <td>{{ entity.tree }}</td>
                        </tr> #}
                    </tbody>
                </table>
        </div>
        </div>
    </div>

{% endblock %}
