<div class="well">
  <form class="edit-app-theme" action="{{ path('mobileAppTheme_update_style',  { 'id': mobile_app_config.id }) }}"
        method="post" {{ form_enctype(mobile_app_form) }}>
    <input type="hidden" name="_method" value="PUT"/>

    <div id='headerStyle'>
      <h4>Header</h4>

      <div style="min-height:30px">
        {{ form_label(mobile_app_form.BGColorHeader) }}
        <div style="float:right">
          {{ form_widget(mobile_app_form.BGColorHeader) }}
        </div>
      </div>
      <div style="min-height:30px">
        {{ form_label(mobile_app_form.TitleColorHeader) }}
        <div style="float:right">
          {{ form_widget(mobile_app_form.TitleColorHeader) }}
        </div>
      </div>
    </div>

    <div id='navBarStyle'>
      <h4>NavBar</h4>

      <div style="min-height:30px">
        {{ form_label(mobile_app_form.BGColorNavBar) }}
        <div style="float:right">
          {{ form_widget(mobile_app_form.BGColorNavBar) }}
        </div>
      </div>
      <div style="min-height:30px">
        {{ form_label(mobile_app_form.TitleColorNavBar) }}
        <div style="float:right">
          {{ form_widget(mobile_app_form.TitleColorNavBar) }}
        </div>
      </div>
    </div>

    <div id='contentStyle'>
      <h4>Content</h4>

      <div style="min-height:30px">
        {{ form_label(mobile_app_form.BGColorContent) }}
        <div style="float:right">
          {{ form_widget(mobile_app_form.BGColorContent) }}
        </div>
      </div>
      <div style="min-height:30px">
        {{ form_label(mobile_app_form.TitleColorContent) }}
        <div style="float:right">
          {{ form_widget(mobile_app_form.TitleColorContent) }}
        </div>
      </div>
    </div>

    <div id='buttonStyle'>
      <h4>Buttons</h4>

      <div style="min-height:30px">
        {{ form_label(mobile_app_form.BGColorButton) }}
        <div style="float:right">
          {{ form_widget(mobile_app_form.BGColorButton) }}
        </div>
      </div>
      <div style="min-height:30px">
        {{ form_label(mobile_app_form.TitleColorButton) }}

        <div style="float:right; ">
          {{ form_widget(mobile_app_form.TitleColorButton) }}
        </div>
      </div>
    </div>

    <div id='footerrStyle'>
      <h4>Footer</h4>

      <div style="min-height:30px">
        {{ form_label(mobile_app_form.BGColorFooter) }}
        <div style="float:right">
          {{ form_widget(mobile_app_form.BGColorFooter) }}
        </div>
      </div>
      <div style="min-height:30px">
        {{ form_label(mobile_app_form.TitleColorFooter) }}
        <div style="float:right">
          {{ form_widget(mobile_app_form.TitleColorFooter) }}
        </div>
      </div>
    </div>
    <button type="submit" class="btn btn-success edit-app" style="width:100%"><i class="fa fa-pencil-square-o"></i>
    </button>

    <div style="visibility:hidden;display:none;height:0px;" id="hiddenInputs">
      {{ form_rest(mobile_app_form) }}
    </div>
  </form>

</div>


