{% extends 'fibeMobileAppBundle::base.html.twig' %}

{% block title %}Mobile App' theme{% endblock title %}

{% block stylesheets_page %}
<link rel="stylesheet" type="text/css" href="{{ asset('css/spectrum/spectrum.css')}}" />  
{% endblock stylesheets_page %}

 {% block centerPanel %}

     <div class="row page-top-header ">
            <div class="page-title col-xs-2  col-xs-5  col-sm-4 col-md-3 col-lg-2">
                <span>Your app'</span>
            </div>

            <div class=" col-xs-2 col-sm-4 col-md-6 col-lg-8">
            </div>
            <div class="page-btn-list  col-xs-5  col-sm-4 col-md-3 col-lg-2">
                <a class="btn btn-info" href="{{path('mobileAppPublic_sparql_index', { 'id': conference.id })}}" title="View your application running">
                     <i class="fa fa-eye"></i>
                </a>
            </div>
        </div>
        <div class="row page-content">
            <div class="row">
               <div class="row-fluid">
                  <div class='col-lg-8'>
                    <iframe style="height:500px;width:100%;" src="{{path('mobileAppPublic_sparql_index', { 'id': conference.id })}}"/></iframe>
                  </div>
                   {% include "fibeMobileAppBundle:MobileAppTheme:edit.html.twig" %}
                </div>
               
              
            </div>

              <form class="edit-app" action="{{ path('mobileAppTheme_update_conference', { 'id': conference.id })}}" method="post" {{ form_enctype(conference_form) }}>
                <div class="row">
                    <div class="col-lg-4">
                          <h1> Conference settings</h1> 
                          {{ form_row(conference_form.mainConfEvent.summary) }}
                          {{ form_row(conference_form.mainConfEvent.acronym) }}
                          {{ form_row(conference_form.mainConfEvent.url) }}
                          {{ form_row(conference_form.logo) }}
                          {{ form_errors(conference_form) }}
                           <button type="submit" class="btn btn-success edit"><i class="fa fa-pencil-square-o"></i></button>
                          <div style="visibility:hidden;display:none;height:0px;" id="hiddenInputs">{{ form_rest(conference_form) }}</div> 
                     </div>
                    <div class="col-lg-4">
                        <h1>Logo</h1>
                        <div class='logo' style="width:300px; height: 100px">
                          <div class="logo-choice"  style="width:300px; height: 100px">
                              <img src="{{ asset('uploads/')}}{{conference.logoPath}}" style="width:auto; height: 100%">
                          </div>
                       </div>
                     </div>
                      <div class="col-lg-4 ">
                        <h1>Color board</h1> 
                        <div id="palette"> 
                          <a href="#" id="generateTheme" class="edit btn btn-success"><i class="fa fa-magic"></i>Generate theme</a>
                        </div>
                      </div>
                  </div>  
              </form>
          
        </div>
  {% endblock centerPanel %}
{% block javascripts_page %}

  <script type="text/javascript" src="{{ asset('js/spectrum/spectrum.js')}}"></script>
  <script type="text/javascript" src="{{ asset('js/colorThief.js')}}"></script>


  <script type="text/javascript">
  $( document ).ready(function() {
    $("#generateTheme").click(function(){
        generateTheme();
    })

      var initPalette = ["{{ mobile_app_config.TitleColorHeader}}", "{{ mobile_app_config.BGColorNavBar}}", "{{ mobile_app_config.BGColorContent}}", "{{ mobile_app_config.TitleColorContent}}", "{{ mobile_app_config.BGColorNavBar}}", "{{ mobile_app_config.BGColorFooter}}", " {{ mobile_app_config.TitleColorFooter}}", "{{ mobile_app_config.BGColorButton}}"]
       $(".color").spectrum({
        flat: false,
        showInput: true,
        showInitial: true,
        showAlpha: false,
        disabled: false,
        localStorageKey: "color",
        showPalette: true,
        showPaletteOnly: false,
        showSelectionPalette: true,
        clickoutFiresChange: false,
        cancelText: "cancelText",
        chooseText: "choose",
        className: "colorpicker",
        preferredFormat: "hex",
        maxSelectionSize: 12,
        palette: [initPalette],
        selectionPalette: initPalette || []
     });

      var image = new Image();
      image.src = "{{ asset('uploads/')}}{{conference.logoPath}}";
      var colorThief = new ColorThief();
      var palette = colorThief.getPalette(image, 6);
      var paletteTab = [];

      $.each(palette, function(i, colorRow){
          var colorText = colorToHex(colorRow[0], colorRow[1], colorRow[2]);
          var newColorBox = $("<input class='color form-control' value='"+colorText+"'/>");
          $("#palette").prepend(newColorBox);
          paletteTab.push(colorText);
      })



      function colorToHex(redCol, greenCol, blueCol) {
          
          var rgb = blueCol | (greenCol << 8) | (redCol << 16);
          return '#' + rgb.toString(16);
      };

      $(".color").spectrum({
        flat: false,
        showInput: true,
        showInitial: true,
        showAlpha: false,
        disabled: false,
        localStorageKey: "color",
        showPalette: true,
        showPaletteOnly: false,
        showSelectionPalette: true,
        clickoutFiresChange: false,
        cancelText: "cancelText",
        chooseText: "choose",
        className: "colorpicker",
        preferredFormat: "hex",
        maxSelectionSize: 12,
        palette: [paletteTab],
        selectionPalette: paletteTab || []
    });
  });

  function generateTheme(){
    var palette = $(".color").spectrum("option","palette")[0];
    var tabRandomised = [];
    for(i=0; i<6; i++){
      tabRandomised.push(Math.floor((Math.random()*5)+1));
    }
    $(".BGColorHeader").spectrum("set", palette[tabRandomised[0]]);
    $(".TitleColorHeader").spectrum("set", palette["black"]);
    $(".BGColorNavBar").spectrum("set", palette[tabRandomised[1]]);
    $(".TitleColorNavBar").spectrum("set", palette["black"]);
    $(".BGColorContent").spectrum("set", "#f3f6f6");
    $(".TitleColorContent").spectrum("set", palette["black"]);
    $(".BGColorButton").spectrum("set", palette[tabRandomised[4]]);
    $(".TitleColorButton").spectrum("set", palette["black"]);
    $(".BGColorFooter").spectrum("set", palette[tabRandomised[1]]);
    $(".TitleColorFooter").spectrum("set", palette["black"]);
  }
  </script>
{% endblock%}




