{% extends 'fibeMobileAppBundle::base.html.twig' %}

{% block title %}Mobile App' theme{% endblock title %}

{% block stylesheets_page %}
<link rel="stylesheet" type="text/css" href="{{ asset('css/spectrum/spectrum.css')}}" />  
{% endblock stylesheets_page %}

 {% block centerPanel %}

     <div class="row page-top-header ">
            <div class="page-title  col-xs-5  col-sm-4 col-md-3 col-lg-2">
                <span>Your app'</span>
                <a class="btn btn-info" href="{{ path('documentation', { 'anchor': 'Mobile_App' }) }}" target="_blank" title="Help">
                     <i class="fa fa-question"></i> 
                </a>
            </div>

            <div class=" col-xs-2 col-sm-4 col-md-6 col-lg-8">
            </div>
            <div class="page-btn-list  col-xs-5  col-sm-4 col-md-3 col-lg-2">
                <a class="btn btn-info" href="{{path('mobileAppPublic_index', { 'slug': conference.slug })}}" title="View your application in full screen" target=”_blank”>
                     <i class="fa fa-eye"></i>
                </a>
            </div>
        </div>
        <div class="row page-content">
             <div class="row">
       
                  <div class='col-xs-12 col-sm-12 col-mg-6 col-lg-6' id="iframe-container">
                    <div  id="iframe-phone">
                          <iframe  width="315" height="560" src="{{path('mobileAppPublic_index', { 'slug': conference.slug })}}" ></iframe>
                     </div>
                   
                  </div>
                  <div class="col-xs-12 col-sm-12 col-mg-6 col-lg-6">
                      <div class="well">
                        <h4>Color board</h4> 
                        <div id="palette" class="well"> 
                         
                        </div>
                         <a href="#" id="generateTheme" class="edit btn btn-success" style="width:100%"><i class="fa fa-magic"></i>  Generate theme</a>
                      </div>
                    {% if is_granted('EDIT', app.user.currentConf.appConfig) %}
                        {% include "fibeMobileAppBundle:MobileAppTheme:edit.html.twig" %}
                    {% endif %}
                   </div>
      
            </div>
        </div>
  {% endblock centerPanel %}
{% block javascripts_page %}

  <script type="text/javascript" src="{{ asset('js/spectrum/spectrum.js')}}"></script>
  <script type="text/javascript" src="{{ asset('js/colorThief.js')}}"></script>

  <script src="{{ asset('js/bootstrap-file-input/bootstrap.file-input.js') }}"></script>  
  <script src="{{ asset('js/bootstrap-file-input/file-dropper.js') }}"></script>  

  <script type="text/javascript">
  $( document ).ready(function() {
    $("#generateTheme").click(function(e){
        e.preventDefault();
        generateTheme();
    })
  

      var initPalette = ["{{ mobile_app_config.TitleColorHeader}}", "{{ mobile_app_config.BGColorNavBar}}", "{{ mobile_app_config.BGColorContent}}", "{{ mobile_app_config.TitleColorContent}}", "{{ mobile_app_config.BGColorNavBar}}", "{{ mobile_app_config.BGColorFooter}}", " {{ mobile_app_config.TitleColorFooter}}", "{{ mobile_app_config.BGColorButton}}"]
       $(".color").spectrum({
        flat: false,
        showInput: true,
        showInitial: true,
        showAlpha: false,
        disabled: false,
        localStorageKey: "color",
        showPalette: true,
        showPaletteOnly: false,
        showSelectionPalette: true,
        clickoutFiresChange: false,
        cancelText: "cancelText",
        chooseText: "choose",
        className: "colorpicker",
        preferredFormat: "hex",
        maxSelectionSize: 12,
        palette: [initPalette],
        selectionPalette: initPalette || []
     });

      var imageObjet = new Image();
      imageObjet.onload = function() {

     
          var colorThief = new ColorThief();
          var palette = colorThief.getPalette(this, 6);
          var paletteTab = [];

          $.each(palette, function(i, colorRow){
              var colorText = colorToHex(colorRow[0], colorRow[1], colorRow[2]);
              var newColorBox = $("<input class='color form-control' value='"+colorText+"'/>");
              $("#palette").prepend(newColorBox);
              paletteTab.push(colorText);
          })

           $(".color").spectrum({
              flat: false,
              showInput: true,
              showInitial: true,
              showAlpha: false,
              disabled: false,
              localStorageKey: "color",
              showPalette: true,
              showPaletteOnly: false,
              showSelectionPalette: true,
              clickoutFiresChange: false,
              cancelText: "cancelText",
              chooseText: "choose",
              className: "colorpicker",
              preferredFormat: "hex",
              maxSelectionSize: 12,
              palette: [paletteTab],
              selectionPalette: paletteTab || []
          });
      };
       imageObjet.src = "{{ asset('uploads/')}}{{conference.logoPath}}";



      function colorToHex(redCol, greenCol, blueCol) {
          
          var rgb = blueCol | (greenCol << 8) | (redCol << 16);
          return '#' + rgb.toString(16);
      };

     
  });

  function generateTheme(){
    var palette = $(".color").spectrum("option","palette")[0];
    var tabRandomised = [];
    for(i=0; i<6; i++){
      tabRandomised.push(Math.floor((Math.random()*5)+1));
    }

    $(".edit-app-theme").hide("slow", function(){

      $(".BGColorHeader").spectrum("set", palette[tabRandomised[0]]);
      $(".TitleColorHeader").spectrum("set", palette["black"]);
      $(".BGColorNavBar").spectrum("set", palette[tabRandomised[1]]);
      $(".TitleColorNavBar").spectrum("set", palette["black"]);
      $(".BGColorContent").spectrum("set", "#f3f6f6");
      $(".TitleColorContent").spectrum("set", palette["black"]);
      $(".BGColorButton").spectrum("set", palette[tabRandomised[4]]);
      $(".TitleColorButton").spectrum("set", palette["black"]);
      $(".BGColorFooter").spectrum("set", palette[tabRandomised[1]]);
      $(".TitleColorFooter").spectrum("set", palette["black"]);
      $(".edit-app-theme").show("slow");
    }); 
  }
  </script>
{% endblock%}




