{% extends 'fibeWWWConfBundle::base.html.twig' %}

{% block title %}Change password{% endblock title %}

{% block centerPanel %}
  {{ parent() }}

  <header class="subhead" id="overview">
    <div class="page-header">
      <h1>Change password</h1>
    </div>
  </header>
  <form action="{{ path('fos_user_change_password') }}" {{ form_enctype(form) }} method="POST"
        class="fos_user_change_password">
    {{ form_widget(form) }}
    <div>
      <button class="btn btn-success" type="submit">
        <i class="fa fa-check"></i>
        {{ 'submit'|trans }}
      </button>
    </div>
  </form>

{% endblock %}




 
