{% extends 'fibeWWWConfBundle::base.html.twig' %}

{% block title %}Index{% endblock title %}
{% block body %}
{{ parent() }}
 

{% trans_default_domain 'FOSUserBundle' %}
<div class="container">
 <div class="row center">
    <header class="subhead" id="overview">
        <div class="page-header">
            <h1>Register a manager</h1>
        </div>
    </header>
    <form action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST" class="form-horizontal" > 

      <div class="row">
           <div class="col-lg-2"></div>
           <div class="col-lg-4">
            <div class="control-group">
                <label class="control-label" >
                    {{ form_label(form.username) }}
                </label> 
                <div class="controls">
                    {{ form_widget(form.username) }}
                    {{ form_errors(form.username) }}
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" >
                    {{ form_label(form.email) }}
                </label> 
                <div class="controls">
                    {{ form_widget(form.email) }}
                    {{ form_errors(form.email) }}
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" >
                    {{ form_label(form.plainPassword.first) }}
                </label> 
                <div class="controls">
                    {{ form_widget(form.plainPassword.first) }}
                    {{ form_errors(form.plainPassword.first) }}
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" >
                    {{ form_label(form.plainPassword.second) }}
                </label> 
                <div class="controls">
                    {{ form_widget(form.plainPassword.second) }}
                    {{ form_errors(form.plainPassword.second) }}
                </div>
            </div> 
            <div class="control-group">
                <label class="control-label" >
                    {{ form_label(form.roles) }}
                </label> 
                <div class="controls">
                    {{ form_widget(form.roles) }}
                    {{ form_errors(form.roles) }}
                </div>
            </div>
            <div style="visibility:hidden;display:none;height:0px;" id="hiddenInputs">     
                {{ form_rest(form  )}}
            </div> 
		</div>
        </div>
        </br>
         <div class="row"> 
            <div class="col-lg-5"></div>
            <div class="col-lg-4">  
               <div class="control-group">
                    <div class="controls">
                    <button type="submit" class="btn btn-success">
                        <i class="icon-plus icon-white"></i> Register user
                    </button>
                </div>
            </div>
        </div>
		</br>
      </br>
	</form>
 </div>
<div>
{% endblock body %}

{%  block javascripts %}
{% endblock %}




 
