{% extends 'fibeDashboardBundle::base.html.twig' %}

{% block title %}Your conferences{% endblock title %}

{% block stylesheets_page %}
{% endblock stylesheets_page %}


{% block sideBar_page %}
{% endblock sideBar_page %}


{% block centerPanel %}
 <div class="jumbotron">
        <h1>Welcome to Livecon {{entity.username}} !</h1>
        <p>Choose your conference or create a new one for start</p>
        <div class="row-fluid">
        {% for conference  in entity.getConferences()  %}
        
        <div class="col-lg-4">
          <div class="panel panel-default">
           <div class="panel-heading">  
                  <a href="{{ path('dashboard_enter_conference', {id: conference.id}) }}" role="button" >
                    <h4> {{conference.getConfName()}}</h4>
                  </a>
            </div>
               <div class="panel-body">
                    <ul class="list-group">
                      <li class="list-group-item"> 
                        <ul class="nav nav-pills nav-stacked">
                          <li>
                            <h5>App Manager
                                {% if conference.getFlagAppByManagerId(entity.id)==1 %}
                                      <i class="fa fa-check"></i>
                                 {% else %}
                                      <span class="glyphicon glyphicon-ban-circle"></span> 
                                 {% endif %}
                            </h5>
                          </li>
                           <li>
                            <h5>Schedule Manager
                                {% if conference.getFlagSchedByManagerId(entity.id)==1 %}
                                      <i class="fa fa-check"></i>
                                 {% else %}
                                        <span class="glyphicon glyphicon-ban-circle"></span> 
                                 {% endif %}
                            </h5>
                           </li>
                           <li>
                            <h5>Conference Datas Manager
                                {% if conference.getFlagDatasByManagerId(entity.id)==1 %}
                                      <i class="fa fa-check"></i>
                                 {% else %}
                                      <span class="glyphicon glyphicon-ban-circle"></span> 
                                 {% endif %}
                            </h5>
                          </li>
                          <li>
                            <h5>Conference Datas Manager
                                {% if conference.getFlagByManagerId(entity.id,'team')==1 %}
                                      <i class="fa fa-check"></i>
                                 {% else %}
                                      <span class="glyphicon glyphicon-ban-circle"></span> 
                                 {% endif %}
                            </h5>
                          </li>
                        </ul>
                        </li>
                        <li class="list-group-item"><h5>Events <span class="badge">{{ conference.events|length }}</span></h5></li>
                        <li class="list-group-item"><h5>Papers <span class="badge">{{ conference.papers|length }}</span></h5> </li>
                        <li class="list-group-item"><h5>Locations <span class="badge">{{ conference.locations|length }}</span></h5></li>
                        <li class="list-group-item"><h5>Persons <span class="badge">{{ conference.persons|length }}</span></h5> </li>
                        <li class="list-group-item"><h5>Topics <span class="badge">{{ conference.topics|length }}</span></h5> </li>
                        <li class="list-group-item"><h5>Organizations <span class="badge">{{ conference.organizations|length }}</span></h5> </li> 
                        <li class="list-group-item"><h5>Conf Managers <span class="badge">{{ conference.confManagers|length }}</span></h5> </li>
                      </ul>
                     </div>
                  </div>
                  
            </div>
             {% endfor  %}
          <div class="col-lg-6">
           <div class="panel panel-default">
              <div class="panel-heading">
                   <a onclick="$('#newConfForm').toggle('slow');" role="button" >
                    <h4>New Conference</h4>
                  </a>
             </div>
              <div class="panel-body" id="newConfForm">
                 <form  method="POST" action="{{ path('schedule_conference_create') }}" {{ form_enctype(form) }} >
                                  {{ form_widget(form) }}
                                  {{ form_errors(form) }} 
                                  </br>
                                  <button type="submit" class="btn btn-block btn-success">
                                      <i class="fa fa-check"></i> 
                                  </button> 

                        <div style="visibility:hidden;display:none;height:0px;" id="hiddenInputs">{{ form_rest(form) }}</div>  
                  </form> 
              </div>
            </div>
          </div>
        </div>
  </div>
{% endblock%}

{%  block javascripts_page %}
    {{parent()}}
    <script  type="text/javascript" >
        $(document).ready(function(){
       
            //Hide add manager form
            $("#newConfForm").hide();

        });
        </script>
{% endblock %}

