{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Person edit</h1>

    <form action="{{ path('person_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
        <input type="hidden" name="_method" value="PUT" />
        {{ form_widget(edit_form) }}
        <p>
            <button type="submit">Edit</button>
        </p>
    </form>

        <ul class="record_actions">
    <li>
        <a href="{{ path('wwwconf_person_index') }}">
            Back to the list
        </a>
    </li>
    <li>
        <form action="{{ path('person_delete', { 'id': entity.id }) }}" method="post">
            <input type="hidden" name="_method" value="DELETE" />
            {{ form_widget(delete_form) }}
            <button type="submit" class="btn btn-danger"> <span class="glyphicon glyphicon-remove glyphicon-white"></span>  </button>
        </form>
    </li>
</ul>

<script src="{{ asset('bundles/fibewwwconf/js/bootstrap-datetimepicker.min.js') }}" type="text/javascript" ></script>  
<script src="{{ asset('bundles/fibewwwconf/js/datepickerTools.js') }}" type="text/javascript" ></script>
<script type="text/javascript" >
    $(document).ready(function(){ 
        $('.datetimepicker').datetimepicker({
            format: 'dd/mm/yyyy hh:ii',
            autoclose: true,
        });
    });

</script>    
{% endblock %}
