{% extends 'fibeWWWConfBundle::base.html.twig' %}

{% block title %}Person{% endblock title %}

{% block centerPanel %}
    {{ parent() }}

         <div class="row page-top-header ">
            <div class="page-title col-xs-2  col-xs-5  col-sm-4 col-md-3 col-lg-2">
                <span>List</span>
            </div>

            <div class=" col-xs-2 col-sm-4 col-md-6 col-lg-8">
            </div>
            <div class="page-btn-list  col-xs-5  col-sm-4 col-md-3 col-lg-2">
                <a class="btn btn-info btn-create create" href="{{ path('schedule_person_new') }}" title="Add a person">
                     <i class="fa fa-plus"></i>
                </a>
            </div>
        </div>
        <div class="row page-content">
            <table class="table table-hover records_list">
                <thead>
                    <tr>

                        <th>Id</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Schedule Acces</th>
                        <th>Schedule Admin</th>
                        <th>Acces Data Paper</th>
                        <th>Data Paper Admin</th>
                        <th>Organizations</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                 {% for entity in pager.currentPageResults %}
                    <tr>
                        <td><a href="{{ path('schedule_person_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                        <td>{{ entity.name }}</td>
                        <td>{{ entity.email }}</td>
                        <td>{{ entity.flagschedule }}</td>
                        <td>{% if entity.flagscheduleadmin %}<i class="icon-user"></i>{% endif %}</td>
                        <td>{{ entity.flagdata }}</td>
                        <td>{% if entity.flagdataadmin %}<i class="icon-user"></i>{% endif %}</td>
                        <td> {% for organization in entity.organizations  %}
                                <li>
                               {% if app.user.getCurrentConf().getModule().getOrganizationModule() == 1 %}
                                      <a href="{{ path('schedule_organization_show', { 'id': organization.id }) }}">
                                         {{ organization.name|e }}
                                      </a>
                                    {% else %}
                                         {{ organization.name|e }}
                                    {% endif %}
                                </li>
                             {% endfor %}
                        </td>
                        <td>
                            <a class="btn btn-default" href="{{ path('schedule_person_show', { 'id': entity.id }) }}">
                                <i class="fa fa-eye"></i>
                            </a>
                           
                            <a class="btn btn-warning edit" href="{{ path('schedule_person_edit', { 'id': entity.id }) }}">
                                 <i class="fa fa-pencil"></i>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <p>
                {{ pagerfanta(pager, 'twitter_bootstrap') }}
            </p>
        </div>
{% endblock %}

