{% extends 'fibeWWWConfBundle::base.html.twig' %}

{% block title %}Index{% endblock title %}

{% block body %}
{{ parent() }}

<div class="row">
  <div class="col-lg-4"><h1>Person list</h1></div>
  <div class="col-lg-4">
  </div>
</div>
    <a type="btn btn-info" href="{{ path('person_new') }}">
        <i class="icon-plus"></i>
    </a>
    <table class="table table-hover records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Email</th>
                <th>Flag_schedule</th>
                <th>Flag_schedule_admin</th>
                <th>Flag_data</th>
                <th>Flag_data_admin</th>
                <th>Organization</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('person_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.name }}</td>
                <td>{{ entity.email }}</td>
                <td>{{ entity.flagschedule }}</td>
                <td>{{ entity.flagscheduleadmin }}</td>
                <td>{{ entity.flagdata }}</td>
                <td>{{ entity.flagdataadmin }}</td>
                <td>{{ entity.organization }}</td>
                <td>
                    <a class="btn btn-default" href="{{ path('person_show', { 'id': entity.id }) }}">
                        <i class="icon-eye-open"></i>
                    </a>
                   
                    <a class="btn btn-warning" href="{{ path('person_edit', { 'id': entity.id }) }}">
                         <i class="icon-edit"></i>
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% endblock %}
