<div id="resultsFound"><h4>
    {% if nbResult is defined %}
      {{ nbResult }}
    {% else %}
      0
    {% endif %}
    results found
  </h4></div>
<table class="table table-hover records_list">
  <thead>
  <tr>

    <th>Id</th>
    <th>Name</th>
    <th>Email</th>
    {% if app.user.getCurrentConf().getModule().getOrganizationModule() == 1 %}
      <th>Organizations</th>
    {% endif %}
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>
  {% for entity in pager.currentPageResults %}
    <tr>
      <td><a href="{{ path('schedule_person_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
      <td>{{ entity.name }}</td>
      <td>{{ entity.email }}</td>
      {% if app.user.getCurrentConf().getModule().getOrganizationModule() == 1 %}
        <td> {% for organization in entity.organizations %}
            <li>
              <a href="{{ path('schedule_organization_show', { 'id': organization.id }) }}">
                {{ organization.name|e }}
              </a>
            </li>
          {% endfor %}
        </td>
      {% endif %}
      <td>
        {% if is_granted('VIEW', entity) %}
          <a class="btn btn-default" href="{{ path('schedule_person_show', { 'id': entity.id }) }}">
            <i class="fa fa-eye"></i>
          </a>
        {% endif %}
        {% if is_granted('EDIT', entity) %}
          <a class="btn btn-warning" href="{{ path('schedule_person_edit', { 'id': entity.id }) }}">
            <i class="fa fa-pencil"></i>
          </a>
        {% endif %}
      </td>
    </tr>
  {% endfor %}
  </tbody>
</table>
<p>
  {{ pagerfanta(pager, 'twitter_bootstrap3') }}
</p>