
{% extends "fibeWWWConfBundle::base.html.twig" %}

{% block title %}Index{% endblock title %}
{% block body %}

{{ parent() }}

<div class="container">
    <div class="row center">
    <h1>Person Creation</h1>

    <div class="row">
     <div class="col-lg-9"></div>
          <div class="col-lg-2 btn-group">
              <a type="button" href="{{ path('schedule_person_index') }}" class="btn btn-warning">
                    <i class="icon-th-list"></i>
              </a>
          </div>    
    </div>     

    <form action="{{ path('schedule_person_create') }}" method="post" {{ form_enctype(form) }}>
         <div class="row">
               <div class="col-lg-2"></div>
               <div class="col-lg-4">
                     {{ form_row(form.name) }}
                     {{ form_row(form.familyName) }}
                     {{ form_row(form.email) }}
                     {{ form_row(form.age) }}
                     {{ form_row(form.img) }}
              </div>
              <div class="col-lg-4">
                     {{ form_row(form.page) }}
                     {{ form_row(form.openId) }}
                     {{ form_row(form.nick) }}
                     {{ form_row(form.organizations) }}
              </div>
              <div style="visibility:hidden;display:none;height:0px;" id="hiddenInputs">     
                    {{ form_rest(form)}}
             </div>  
        </div> 
        </br>
         <div class="row"> 
            <div class="col-lg-4"></div>
            <div class="col-lg-4">  
                 <button type="submit" class="btn btn-block btn-success">
                          <i class="icon-ok"></i>
                </button>
            </div>
        </div>
    </form>
  </div>
</div>

{% endblock %}
