{% extends 'fibeWWWConfBundle::base.html.twig' %}

{% block body %}
{{ parent() }}
    <h1>Paper edit</h1>

    <form action="{{ path('schedule_paper_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
        <input type="hidden" name="_method" value="PUT" />
         <div class="row-fluid">
           <div class="col-lg-2"></div>
           <div class="col-lg-4">
                {{ form_widget(edit_form) }}
                <div class="row-fluid">
                        <div class="col-lg-9"></div>
                        <div class="col-lg-1 btn-group">
                            <button type="submit" class="btn btn-small btn-default">
                                <i class="icon-ok"></i>
                            </button>
                        </div>
                </div>    
            </div> 
        </div>
    </form>


<div class="row">
     <div class="col-lg-8"></div>
          <div class="col-lg-2 btn-group">
              <a type="button" href="{{ path('paper') }}" class="btn btn-warning">
                    <i class="icon-th-list"></i>
              </a>
               <form action="{{ path('schedule_paper_delete', { 'id': entity.id }) }}" method="post">
                  <input type="hidden" name="_method" value="DELETE" />
                    {{ form_widget(delete_form) }}
                <button type="submit" class="btn btn-danger">
                    <i class="icon-remove"></i>
                </button>
              </form> 
          </div>    
    </div>     
{% endblock %}
