{% extends 'fibeWWWConfBundle::base.html.twig' %}

{% block body %}
{{ parent() }}
    <h1>Paper creation</h1>

    <form action="{{ path('schedule_paper_create') }}" method="post" {{ form_enctype(form) }}>
     <div class="row-fluid">
        <div class="col-lg-2"></div>
        <div class="col-lg-4">
            {{ form_widget(form) }}
             </br>
             <div class="row-fluid">
                <div class="col-lg-8"></div>
                <div class="col-lg-2">
                    <a type="button" href="{{ path('schedule_paper') }}" class="btn btn-warning">
                        <i class="icon-th-list"></i>
                    </a>
                </div>
                <div class="col-lg-1">
                    <button type="submit" class="btn btn-default">
                          <i class="icon-ok"></i>
                    </button> 
                </div> 
            </div>
        </div> 
     </div> 
    </form>

    
{% endblock %}
 
              