{% extends 'fibeWWWConfBundle::base.html.twig' %}

{% block body %}
{{ parent() }}
    <h1>Paper creation</h1>

    <form action="{{ path('schedule_paper_create') }}" method="post" {{ form_enctype(form) }}>
        {{ form_widget(form) }}
        <p>
            <button type="submit">Create</button>
        </p>
    </form>

        <ul class="record_actions">
    <li>
        <a href="{{ path('schedule_paper') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
