{% extends 'fibeWWWConfBundle::base.html.twig' %}

{% block body %}
{{ parent() }}
<div class="container">
    <div class="row center">
    <h1>Paper</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ entity.type }}</td>
            </tr>
            <tr>
                <th>Label</th>
                <td>{{ entity.label }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ entity.title }}</td>
            </tr>
            <tr>
                <th>Abstract</th>
                <td>{{ entity.abstract }}</td>
            </tr>
            <tr>
                <th>Month</th>
                <td>{{ entity.month }}</td>
            </tr>
            <tr>
                <th>Year</th>
                <td>{{ entity.year }}</td>
            </tr>
            <tr>
                <th>Url_pdf</th>
                <td>{{ entity.urlpdf }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('schedule_paper') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('schedule_paper_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>
        <form action="{{ path('schedule_paper_delete', { 'id': entity.id }) }}" method="post">
            <input type="hidden" name="_method" value="DELETE" />
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    </li>
</ul>
</div>
</div>
{% endblock %}
