{% extends "::base.html.twig" %}    

{% set currentPath = app.request.attributes.get('_route') %}

{% block meta %}{% endblock %}
{% block title %}{% endblock %}

     
{% block stylesheets %}
  {{ parent() }}
  {% block stylesheets_page %}
  {% endblock %}
{% endblock %}
      
{% block javascripts %}
  {{ parent() }}

  <script type="text/javascript">
    $(document).ready(function ()
    {

      $(".{{currentPath}}").addClass("active");

      $('label[class="required"]').append("<i style='color:#C00000  '>*</i>");

      deployed = false;
      $("#sideBarBtn").click(function ()
      {
        deployResultBox();
      });
      $("select").select2();
      //  $('.datetimepicker')
      // .wrap('<div class="input-group">')
      // .after('<span class="input-group-addon"><span class="icon-calendar"></span></span>')
      // .datetimepicker({
      //     format: 'dd/mm/yyyy hh:ii',
      //     autoclose: true,
      // });

    });
    function deployResultBox()
    {
      if (!deployed)
      {
        $('#sideBar').animate({left: '0px'});
        deployed = true;
      }
      else
      {
        $('#sideBar').animate({left: '-180px'});
        deployed = false;
      }
    }
  </script>



  {% for flashMessage in app.session.flashbag.get('info') %}
    <script type="text/javascript">
      bootstrapAlert("info", "{{ flashMessage }}", "Info : ");
    </script>
  {% endfor %}

  {% for flashMessage in app.session.flashbag.get('success') %}
    <script type="text/javascript">
      bootstrapAlert("success", "{{ flashMessage }}", "Success : ");
    </script>
  {% endfor %}

  {% for flashMessage in app.session.flashbag.get('error') %}
    <script type="text/javascript">
      bootstrapAlert("warning", "{{ flashMessage }}", "Error : ");
    </script>
  {% endfor %}

  <!-- Hide module not used in the conference -->
  {% if app.user.getCurrentConf().getModule().getPaperModule() == 0 %}
    <script type="text/javascript">
      $(document).ready(function ()
      {
        $(".module_paper").hide();
      });
    </script>
  {% endif %}

  {% block javascripts_page %}
  {% endblock %}
{% endblock %}

{% block body %}
  {{ parent() }}
  {% block navBar %}
    {% include "::mainNavBar.html.twig" %}
  {% endblock navBar %}


  {% if app.user.getCurrentConf() %}
    {% block menuNavBar %}
      {% include "::menuNavBar.html.twig" %}
    {% endblock menuNavBar %}
  {% endif %}

  {% block content %}
    <div class="content">

      <div class="row">
        <div class="col-xs-1 col-sm-1  col-md-1 col-lg-1"></div>

        <div class="col-xs-10 col-sm-10  col-md-10 col-lg-10 ">
          <div class="row ">
            <ul class="nav breadcrum nav-tabs">

              <li class="schedule_conference_show col-xs-2 col-sm-2  col-mg-2 col-lg-2"><a
                    href="{{ path('schedule_conference_show') }}" class='ellipsis'><i
                      class="fa  fa-search-plus fa-1x"></i><span> Overview </span></a></li>
              {% if is_granted('EDIT', app.user.currentConf.module) %}
                <li class="schedule_conference_module col-xs-2 col-sm-2  col-mg-2 col-lg-2"><a
                      href="{{ path('schedule_conference_module') }}" class='ellipsis'> <i
                        class="fa fa-inbox fa-1x"></i><span> Modules  </span></a></li>
              {% endif %}
              {% if is_granted('VIEW', app.user.currentConf.team) %}
                <li class="conference_team_index col-xs-2 col-sm-2  col-mg-2 col-lg-2"><a
                      href="{{ path('conference_team_index') }}" class='ellipsis'><i
                        class="fa fa-users fa-1x"></i><span> Team   </span></a></li>
              {% endif %}
              {% if is_granted('OPERATOR', app.user.currentConf) %}
                <li class="externalization_import_index col-xs-2 col-sm-2 col-mg-2 col-lg-2"><a
                      href="{{ path('externalization_import_index') }}" class='ellipsis'><i
                        class="fa fa-exchange fa-1x"></i><span> Import </span></a></li>
              {% endif %}
              {% if is_granted('VIEW', app.user.currentConf) %}
                <li class="externalization_export_index col-xs-2 col-sm-2 col-mg-2 col-lg-2"><a
                      href="{{ path('externalization_export_index') }}" class='ellipsis'><i
                        class="fa fa-download fa-1x"></i><span> Export </span></a></li>
              {% endif %}

              {% block menu_page %}
              {% endblock menu_page %}

            </ul>
          </div>
          <div class="row center">
            {% block centerPanel %}
            {% endblock centerPanel %}
          </div>
        </div>
        <div class="col-xs-1 col-sm-1  col-md-1 col-lg-1"></div>
      </div>

    </div>
  {% endblock content %}
{% endblock body %}


 