{% extends 'fibeConferenceBundle::base.html.twig' %}

{% block title %}Authorization edit{% endblock title %}

{% block centerPanel %}
  {{ parent() }}

  <div class="row page-top-header ">
    <div class="page-title col-xs-5  col-sm-4 col-md-3 col-lg-2">
      <span>Edit team</span>
      <a class="btn btn-info" href="{{ path('documentation', { 'anchor': 'Authorization' }) }}" title="Help">
        <i class="fa fa-question"></i>
      </a>
    </div>

    {# <div class=" col-xs-2 col-sm-4 col-md-6 col-lg-8">
    </div>
    <div class="page-btn-list  col-xs-5  col-sm-4 col-md-3 col-lg-2">
    </div> #}
  </div>
  <div class="row page-content">

    <h1>{{ entity.username }}</h1>
    <form action="{{ path('conference_teamate_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>

            <span class="hidden">
              {{ form_row(edit_form.user, {'attr': {'type': 'hidden'}}) }}
            </span>
            <div class="form-horizontal">
              
                {{ form_label(edit_form.confPermissions) }}
                {# itère sur chaque tag existant et affiche son unique champ : name #}
                {% for confPermission in edit_form.confPermissions %}
                <div class="form-group">
                  <label class="col-sm-2 control-label">{{ confPermission.vars.value.entityLabel }}</label> 
                  <div class="col-sm-10 choiceList" data-val="{{ confPermission.vars.value.action }}">
                    {{ form_row(confPermission.action) }}
                  </div>
                </div> 
                    {{ form_rest(confPermission) }}
                {% endfor %}
            </div>

            {{ form_rest(edit_form) }} 
            <br />
        <button type="submit" class="btn btn-block btn-success">
            <i class="fa fa-check"></i>
        </button>
    </form> 
  </div>

{# ugly trick to set default value on this custom field choice type #}
<script>
  // $(function(){
  //   $(".choiceList").each(function(){
  //     var val = $(this).data("val");
  //     $(this).find("select").select2("data",val);
  //     $(this).find("select").select2("data",val);
  //   });
  // })
</script>
{# ugly trick to set default value on this custom field choice type #}

{% endblock %}
