{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Equipment edit</h1>

    <form action="{{ path('equipment_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
        <input type="hidden" name="_method" value="PUT" />
        {{ form_widget(edit_form) }}
        <p>
            <button type="submit" class="btn btn-default"> <span class="class="glyphicon glyphicon-ok"></span></button>
        </p>
    </form>

        <ul class="record_actions">
    <li>
        <a href="{{ path('equipment') }}">
            Back to the list
        </a>
    </li>
    <li>
        <form action="{{ path('equipment_delete', { 'id': entity.id }) }}" method="post">
            <input type="hidden" name="_method" value="DELETE" />
            {{ form_widget(delete_form) }}
            <button type="submit" class="btn btn-danger> <span class="class="glyphicon glyphicon-remove glyphicon-white"></span></button>
        </form>
    </li>
</ul>
{% endblock %}
