{% extends 'fibeWWWConfBundle::base.html.twig' %}

{% block title %}Equipment{% endblock title %}

{% block centerPanel %}
  {{ parent() }}
  <div class="container">
    <div class="row center">
      <h1>Equipment list</h1>

      <a class="btn btn-info" href="{{ path('schedule_equipment_new') }}">
        <span class="icon-plus glyphicon-white"></span>
      </a>

      <table class=" table-hover records_list">
        <thead>
        <tr>
          <th>Id</th>
          <th>Label</th>
          <th>Icon</th>
          <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
          <tr>
            <td><a href="{{ path('schedule_equipment_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
            <td>{{ entity.label }}</td>
            <td>{{ entity.icon }}</td>
            <td>
              <ul>
                <li>
                  <a class="btn btn-default" href="{{ path('schedule_equipment_show', { 'id': entity.id }) }}"> <span
                        class="fa fa-eye"></span></a>
                </li>
                <li>
                  <a class="btn btn-warning" href="{{ path('schedule_equipment_edit', { 'id': entity.id }) }}"> <span
                        class="icon-edit glyphicon-white"></span></a>
                </li>
              </ul>
            </td>
          </tr>
        {% endfor %}
        </tbody>
      </table>

      <ul>
        <li>
          <a class="btn btn-info" href="{{ path('schedule_equipment_new') }}">
            <span class="icon-plus glyphicon-white"></span>
          </a>
        </li>
      </ul>
    </div>
  </div>
{% endblock %}
